@model VMall.Web.Mobile.Models.StoreClassModel
@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = Model.StoreClassInfo.Name;
    ViewBag.Title = Model.StoreClassInfo.Name + "-" + WorkContext.StoreInfo.Name + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 7;
    
}

<div class="storeSearch">
    <div><a href="@Url.Action("class", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", Model.StoreCid }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })"><i class="icon-volume @if (Model.SortColumn == 0)
                                                                                                                                                                                                                           { <text>on</text>}"></i><span>销量</span></a></div>
    <div><a href="@Url.Action("class", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", Model.StoreCid }, { "sortColumn", 1 }, { "sortDirection", 0 }, { "page", 1 } })"><i class="icon-price @if (Model.SortColumn == 1)
                                                                                                                                                                                                                          { <text>on</text>}"></i><span>价格</span></a></div>
    <div><a href="@Url.Action("class", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", Model.StoreCid }, { "sortColumn", 4 }, { "sortDirection", 0 }, { "page", 1 } })"><i class="icon-new @if (Model.SortColumn == 4)
                                                                                                                                                                                                                        { <text>on</text>}"></i><span>人气</span></a></div>
</div>



<div class="storeI">
    <ul class="storeList">

        @foreach (PartProductInfo info in Model.ProductList)
        {
            <li><a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", info.Pid } })">
                <div class="img">
                    <img src="/upload/store/@info.StoreId/product/show/thumb350_350/@info.ShowImg"></div>
                <div class="p-info">@info.Name</div>
                <div class="price">¥@info.ShopPrice</div>
            </a></li>
        }

    </ul>
</div>

<div class="storeI" style="margin-bottom: 20px;">
    <div class="pagination">
        <a href="javascript:;" class="page-num">@if (Model.PageModel.TotalPages > 0)
                                                {@Model.PageModel.PageNumber}
                                                else
                                                {<text>0</text>}/@Model.PageModel.TotalPages</a>
        @if (Model.PageModel.HasPrePage)
        { 
            <a class="last" href = "@Url.Action("class", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", Model.StoreCid }, { "sortColumn", Model.SortColumn }, { "sortDirection", Model.SortDirection }, { "page", Model.PageModel.PrePageNumber } })">上一页</a>
        }
        else
        {
            <a class="last" href="javascript:;">上一页</a>
        }
        @if (Model.PageModel.HasNextPage)
        {
            <a class="next" href = "@Url.Action("class", new RouteValueDictionary { { "storeId", WorkContext.StoreId }, { "storeCid", Model.StoreCid }, { "sortColumn", Model.SortColumn }, { "sortDirection", Model.SortDirection }, { "page", Model.PageModel.NextPageNumber } })">下一页</a>
        }
        else
        {
            <a class="next" href="javascript:;">下一页</a>
        }
    </div>
</div>


