@model VMall.Web.Mobile.Models.SuitListModel
@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "套餐促销";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 4;
}

<div class="listXHbox">
    @foreach (var suitinfo in Model.ProductList)
    {
        decimal suitAmount = 0M;
        decimal suitDiscount = 0M;
        KeyValuePair<SuitPromotionInfo, List<ExtSuitProductInfo>> pair = Model.SuitProductList.Find(x => x.Key.PmId == suitinfo.PmId);
                   
        <div class="listXH ">
            <h3>@suitinfo.Name<span class="price"></span><span class="icon-arr"></span></h3>
            <ul class="listUL">
                @{
        List<ExtSuitProductInfo> extSuitProductList = pair.Value;
        SuitPromotionInfo suit = pair.Key;
                }
                @foreach (ExtSuitProductInfo info in extSuitProductList)
                {
                    suitAmount += info.Number * (info.ShopPrice - info.Discount);
                    suitDiscount += info.Number * info.Discount;
                    <li><a href="@Url.Action("product", new RouteValueDictionary { { "pid", info.Pid } })">
                        <div class="p-img">
                            <img src="/upload/store/@info.StoreId/product/show/thumb300_300/@info.ShowImg" width="60" height="60"></div>
                        <div class="p-info">
                            <h5 class="p-name">
                                @if (info.Discount == info.ShopPrice)
                                {<span style="color: red;">[赠品]</span>}
                                @info.Name x @info.Number</h5>
                            <div class="p-price"></div>
                        </div>
                    </a></li>
                }
            </ul>
            <div class="jsxx">
                <div class="total">@suitinfo.Name： <span class="p-price">¥@suitAmount</span><span class="o-price"><del>¥@Html.Raw((suitAmount + suitDiscount).ToString())</del></span>
                    可用@(MallKey.MallCutCoin)：-¥@suit.SuitHongBaoCut
                </div>
                <div class="total">
                    套装@(MallKey.MallCoin)：@suit.SuitHaiMi
                    @if (WorkContext.IsDirSaleUser)
                    { 
                        @: 套餐PV:@suit.SuitPV
    }
                </div>
                <div><i class="icon-bg02">立省¥@suitDiscount</i> </div>
                <div class="jsxxBT"><a href="javascript:addSuitToCart(@suitinfo.PmId,1,1)" class="redBt">加入购物车</a></div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    @* function selectSuit(i) {
        for (var j = 1; j < @Model.SuitProductList.Count; j++) {
            document.getElementById("suit" + j).className = "listXH open";
        }
        document.getElementById("suit" + i).className = "listXH";
    }*@
</script>

<div id="addResult1" class="bg" style="display: none; position: absolute; left: 0px; top: 0px; background-color: rgb(13, 13, 13); filter: alpha(opacity=60); opacity: 0.6; width: 100%; height: 100%; z-index: 8888;"></div>
<div id="addResult2" class="cartTip" style="display: none;">
    <div class="ico-succ"><span class="att-succ">添加成功！</span><span class="cart-succ">套装已成功加入购物车</span></div>
    <div class="cp-lnk"><a href="javascript:void(0);" onclick="document.getElementById('addResult1').style.display = 'none';document.getElementById('addResult2').style.display = 'none';">再逛逛</a><a href="@Url.Action("index", "cart")"><span class="bar"></span>去购物车</a></div>
</div>
<script type="text/javascript">
    //高度需要计算 .bg的高度 = 当前body的高度
    document.getElementById("addResult1").style.height = document.body.scrollHeight + "px";
</script>

