@model VMall.Web.Mobile.Models.ChannelIndexModel
@using VMall.Web.Mobile
@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = Model.ChannelInfo.Name;
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 2;
}
<style>
    img:hover {
        opacity: .7;
    }

    .info2 a:hover {
        background-color: #089E9C;
    }

    .gprolist li {
        border: 1px solid #eee;
        float: left;
        width: 49%;
        /*height: 13em;*/
        margin-top: 12px;
        cursor: pointer;
        padding-bottom: 10px;
    }

    .floor {
        margin-bottom: 20px;
    }

        .floor .floortitle h2 {
            float: left;
            /*margin: 10px 0 0;*/
            height: 30px;
            line-height: 40px;
        }

            .floor .floortitle h2:before {
                content: "";
                display: block;
                width: 3px;
                height: 30px;
                float: left;
                background: #d8505c;
                margin: 15px 0px 0 0;
            }

    .floortitle {
        border-bottom: 1px solid #ddd;
        height: 50px;
        position: relative;
    }

    .floor .floortitle p {
        float: left;
        height: 70px;
        overflow: hidden;
        margin: 10px 0 0 20px;
        line-height: 78px;
        color: #999;
        font-size: 14px;
    }

    .floortitle .more {
        position: absolute;
        top: 20px;
        right: 0px;
        font-size: 18px;
        color: #D02424;
    }

        .floortitle .more a {
            color: #D02424;
        }

    .gprolist li h4 {
        font-weight: 400;
        text-align: center;
        color: #666;
        padding: 5px;
        max-width: 100%;
        _width: 178px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .gprolist li .index_mod_iconprice {
        color: #fe575f;
        text-align: center;
        max-width: 100%;
        _width: 178px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .banner_img {
        height: 100px;
        margin-bottom: 20px;
        /*background:#f5f5f5;*/
        background: url(/images/yx_bg.jpg) no-repeat 0 center;
    }

        .banner_img div {
            float: left;
            /*text-align: center;*/
        }

    .banner_left {
        border-right: 1px solid #e1e1e1;
        width: 29%;
        height: 100px;
        /*background: blue;*/
        /*border-bottom: 1px solid red;*/
        /*text-align:left;*/
    }

    .banner_right {
        /*border: 1px solid #e1e1e1;*/
        width: 70%;
        height: 100px;
        /*background: blue;*/
        /*border-bottom: 1px solid red;*/
        /*text-align:left;*/
    }

    .banner_left p {
        /*width: 29%;*/
        /* line-height: 50px; */
        /* height: 50px; */
        text-align: center;
    }

    /*.banner_right .poolcount {
        height: 30px;
    }*/

    .pooltitle {
        height: 70px;
        line-height: 70px;
        font-size: 14px;
        font-weight: bolder;
    }

    .banner_right ul li {
        width: 33%;
        text-align: center;
        float: left;
        /* padding: 20px 10px; */
        height: 100px;
        /*line-height: 100px;*/
        font-size: 15px;
    }
</style>
<div class="banner_img">
    <div class="banner_left">
        @{decimal poolAmout = Orders.GetAgentSuitSum();}
        <p class="pooltitle">消费积分</p>
        <p class="poolcount">@poolAmout</p>
    </div>
    <div class="banner_right">
        <ul>
            @if (WorkContext.Uid >= 1)
            { 
                <li class="user_info">
                    <p class="pooltitle">会员名</p>
                    <p class="poolcount">
                        @(string.IsNullOrEmpty(WorkContext.UserName) ? WorkContext.UserMobile : WorkContext.UserName)
                    </p>
                </li>
                <li class="user_info">
                    <p class="pooltitle">代理级别</p>
                    <p class="poolcount">
                        @if (WorkContext.PartUserInfo.AgentType == 1)
                        {
                            @:事业伙伴
                            }
                        else if (WorkContext.PartUserInfo.AgentType == 2)
                        {
                            @:星级经销商
                            }
                        else if (WorkContext.PartUserInfo.AgentType == 3)
                        {
                            @:VIP经销商
                            }
                        else if (WorkContext.PartUserInfo.AgentType == 4)
                        {
                            @:大区经销商
                            }
                        else
                        {
                            @:*****
                            }
                    </p>
                </li>
                <li class="user_info">
                    <p class="pooltitle">分享会员</p>
                     @{decimal teamCount = Users.GetAgentUserCount(WorkContext.PartUserInfo);}
                    <p class="poolcount">@(teamCount>0?teamCount.ToString():"*****")</p>

                </li>
            }
            else
            {
                <li class="user_info">
                    <p class="pooltitle">会员名</p>
                    <p class="poolcount">*****</p>

                </li>
                <li class="user_info">
                    <p class="pooltitle">代理级别</p>
                    <p class="poolcount">*****</p>
                </li>
                <li class="user_info">
                    <p class="pooltitle">分享会员</p>
                    <p class="poolcount">*****</p>
                </li>
            }
            @* <li class="user_info">账户余额：*****</li>
                    <li class="user_info">佣金：*****</li>
                    <li class="user_info">分红池：*****</li>*@

        </ul>
    </div>
</div>
<div>
    <img src="/images/yx_banner1.jpg" alt="" width="100%" />
</div>
<div class="proList">

    <div>
        @foreach (var item in Model.GroupProductList)
        {
            List<PartProductInfo> proList = Products.GetPartProductList(item.Products).Take(4).ToList();
            <div class="floor">
                <div class="floortitle">
                    <h2>
                        <img src="/upload/groupproductimage/@item.GroupLogo" alt="@item.GroupTitle" height="50" width="200"/>
                    </h2>
                    @*<p>/ @item.ExtField1 (副标题)/</p>*@
                    <span class="more"><a href="@Url.Action("index", "channel", new RouteValueDictionary { { "chId", item.ChannelId }, { "gid", item.Groupid }, { "cateId", 0 }, { "brandId", 0 }, { "filterPrice", 0 }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 1 }, { "page", 1 } })">更多&gt;&gt;</a></span>
                    <div class="clear"></div>
                </div>
                <div class="hot-goods-box">
                    <div class="sgb-cont itemdiv" id="hot1">
                        <ul class="gprolist">
                            @foreach (var proitem in proList)
                            {
                                <li class="">
                                    <a href="@(Url.Action("Product", "catalog", new { pid = proitem.Pid }))">
                                        <img src="/upload/store/@proitem.StoreId/product/show/thumb230_230/@proitem.ShowImg" alt="" width="100%"  /></a>
                                    <h4>@proitem.Name</h4>
                                    <p class="index_mod_iconprice">¥@proitem.ShopPrice</p>
                                </li>
                            }
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="clear"></div>

</div>


<script type="text/javascript">
    
</script>

