@model VMall.Web.MallAdmin.Models.SendOrderListModel
@section header{
    <title>代理要货单列表</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js?v=201610"></script>
    <link rel="stylesheet" type="text/css" href="/admin_mall/content/jbox/Skins/Default/jbox.css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/selectlist.js?ddd"></script>
    <script type="text/javascript" src="/admin_mall/scripts/date.js"></script>
    <style>
        .dataListSearch table td {
            width: 100px;
            padding: 5px;
            border-bottom: 1px solid #ddd;
        }

        .dataListSearch table tr {
            border-left: 1px solid #ddd;
            /*border-bottom:1px solid #ddd;*/
            margin: 10px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            if ($("#IsOutPut")) {
                $("#IsOutPut").val("0");
            }
        });

        function output() {
            $("#IsOutPut").val("1");
            $("form").submit();
        }
        function search() {
            $("#IsOutPut").val("0");
            $("form").submit();
        }
    </script>
}

@section body{
    <h1 class="rightH1">订单管理 &gt;&gt; 代理要货单列表
        <div class="right">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm("SendOrderList", "agentsendorder"))
    { 
        <input type="hidden" value="0" id="IsOutPut" name="IsOutPut" />
        <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
        <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
        <div class="dataListSearch">
            <table height="32">
                <tbody>
                    <tr>
                        <td width="80">要货单号：</td>
                        <td width="180">@Html.TextBox("OSN", Model.OSN, new { height = "18", size = "30" })</td>

                        <td width="60">&nbsp;&nbsp;开始时间：</td>
                        <td width="90">@Html.TextBox("StartDate", Model.StartDate, new { @style = "width:60px;", onclick = "HS_setDate(this);" })</td>
                        <td width="60">&nbsp;&nbsp;结束时间：</td>
                        <td width="90">@Html.TextBox("EndDate", Model.EndDate, new { @style = "width:60px;", onclick = "HS_setDate(this);" })</td>
                        <td>商品编号：</td>
                        <td width="50">@Html.TextBox("Pid", Model.Pid, new { height = "28", size = "5" })</td>
                        <td>商品名称：</td>
                        <td width="180">@Html.TextBox("ProductName", Model.ProductName, new { height = "28", size = "30" })</td>
                        <td>会员：</td>
                        <td width="130">@Html.TextBox("AccountName", Model.AccountName, new { height = "18", size = "20" })</td>

                        <td width="50">&nbsp;&nbsp;&nbsp;状态：</td>
                        <td width="100">@Html.DropDownListFor(x => x.OrderState, ViewData["sendStateList"] as List<SelectListItem>)</td>

                        <td rowspan="3" style="width: 200px; border-left: 1px solid #ddd;">
                            <input id="SearchOrder" name="SearchOrder" type="image" class="searchBut submit" src="/admin_mall/content/images/s.jpg" onclick="search();" />
                            <input id="ExportOrder" name="ExportOrder" type="button" style="width: 63px; height: 24px;" class="searchBut submit" value="导出订单" onclick="output();" />
                            @*<a href="/malladmin/order/DownloadOrderList" style="margin-left:12px;width:63px;height:24px;vertical-align:middle;border:2px solid rgb(227, 227, 227);padding:3px 14px;font-weight:700;">导出</a>*@
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="dataList">
            <table width="100%">
                <thead>
                    <tr>
                        <th width="40" align="center">
                            <input type="checkbox" id="allSelect" /></th>
                        <th width="160" align="left">要货单号</th>
                        <th width="" align="left">产品</th>
                        <th width="120" align="left">下单会员</th>
                        <th width="100" align="left">代理等级</th>
                        <th width="150" align="left">下单时间</th>
                        <th width="80" align="left">数量</th>
                        <th width="80" align="left">订单状态</th>
                        <th width="100" align="left">物流公司</th>
                        <th width="100" align="left">物流单号</th>
                        <th width="150" align="left">发货时间</th>
                        <th width="240" align="left">收货信息</th>
                        <th width="100" align="left">备注</th>
                        <th width="104" align="left">管理操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.SendOrderList.Rows)
                    {
                       
                        <tr>
                            <td align="center">
                                <input type="checkbox" value="@row["id"]" selectItem="true" name="oid" /></td>
                            <td>@row["sendosn"] </td>
                            <td>@row["name"] </td>
                            <td>
                                <div>@(string.IsNullOrEmpty(row["username"].ToString().Trim()) ? (string.IsNullOrEmpty(row["usermobile"].ToString().Trim()) ? (string.IsNullOrEmpty(row["useremail"].ToString().Trim()) ? "" : row["useremail"].ToString().Trim()) : row["usermobile"].ToString().Trim()) : row["username"].ToString().Trim())</div>
                            </td>
                            <td>
                                @if (row["agenttype"].ToString() == "1")
                                { 
                                    @:事业伙伴
}
                                else if (row["agenttype"].ToString() == "2")
                                {
                                    @:星级经销商
                                }
                                else if (row["agenttype"].ToString() == "3")
                                {
                                    @:VIP经销商
                                }
                                else if (row["agenttype"].ToString() == "4")
                                {
                                    @:大区经销商
                                }
                                else if (row["agenttype"].ToString() == "4")
                                {
                                    @:大区经销商
                                }
                            </td>
                            <td>
                                <div>@(TypeHelper.ObjectToDateTime(row["creationdate"]).ToString("yyyy-MM-dd HH:mm:ss"))</div>
                            </td>
                            <td>
                                @row["sendcount"]
                            </td>
                            <td>
                                @if (row["sendstate"].ToString() == "1")
                                { 
                                    @:已发货
}
                                else
                                {
                                    @:未发货
                                }</td>

                            <td>
                                @row["shipconame"]
                            </td>
                            <td>
                                @row["shipsn"]
                            </td>
                            <td>
                                @{DateTime shipTime = TypeHelper.ObjectToDateTime(row["shiptime"]);}
                                @if (shipTime != TypeHelper.ObjectToDateTime(row["creationdate"]))
                                {
                                    @shipTime.ToString("yyyy-MM-dd HH:mm:ss")
                                }
                            </td>
                            <td>
                                @{  RegionInfo region = Regions.GetRegionById(TypeHelper.ObjectToInt(row["regionid"]));}

                                @row["consignee"] &nbsp;&nbsp;@row["mobile"]
                                <br />
                                @if (region != null)
                                {
                                    @region.ProvinceName @region.CityName @region.Name @row["address"]
                                }
                                else
                                {
                                    @row["address"]
                                }
                            </td>

                            <td>
                                @row["buyerremark"]
                            </td>
                            <td>
                                @if (row["sendstate"].ToString() == "0")
                                { 
                                    @Html.ActionLink("[发货]", "SendProduct", new { id = row["id"] }, new { @class = "editOperate" })
                                    <br />
                                    if (WorkContext.MallAGid == 2)
                                    { 
                                    @Html.ActionLink("[撤销申请]", "CancelAgentSend", new { id = row["id"] }, new { @class = "editOperate" })
                                    }
                                }
                                else
                                { 
                                    @Html.ActionLink("[修改快递信息]", "UpdateShipInfo", new { id = row["id"] }, new { @class = "editOperate" })
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="dataListEdit">

            <div class="page">

                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
}