@model VMall.Web.MallAdmin.Models.OrderChangeListModel
@{
    Layout = "~/admin_mall/views/shared/_layout_adminlte.cshtml";
}
@section header{
    <title>订单换货列表</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
    <link type="text/css" href="/admin_mall/content/jbox/Skins/Default/jbox.css" rel="stylesheet" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/selectlist.js"></script>
    <script>
        function output() {
            //string storeName, string osn, int state = 1, int storeId = -1
            var storeId = $("#StoreId").val();
            var osn = $("#OSN").val();
            var state = $("#state").val();
            window.open("/malladmin/order/ChangeOutPutOrder?StoreId=" + StoreId + "&osn=" + osn + "&state=" + state);
        }
    </script>
}

@section body{
    <h1 class="rightH1">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="#">订单管理</a></li>
            <li class="active">换货列表</li>
        </ol>
        <div class="right">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm("orderchangelist", "order"))
    {
        
        <section class="content-search">
            <div class="row">
                <div class="col-xs-12">
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>商品店铺：</label>
                                <div class="selectBtn btn-default">
                                    <input type="button" value="@Model.StoreName" onclick="openStoreSelectLayer(this)" class="form-control selectBtn-ipt"/>
                                    <input type="hidden" class="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" />
                                    <input type="hidden" class="StoreName" id="StoreName" name="StoreName" value="@Model.StoreName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>订单编号：</label>
                                @Html.TextBox("OSN", Model.OSN, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>状态：</label>
                                @Html.DropDownListFor(x => x.state, new List<SelectListItem>() { new SelectListItem() { Text = "全部", Value = "-1" }, new SelectListItem() { Text = "审核不通过", Value = "0" }, new SelectListItem() { Text = "待审核", Value = "1" }, new SelectListItem() { Text = "审核通过", Value = "2" }, new SelectListItem() { Text = "收到换货，待发货", Value = "3" }, new SelectListItem() { Text = "换货发货完成", Value = "4" }, new SelectListItem() { Text = "换货确认收货", Value = "5" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <button type="button" id="Search" name="Search" class="btn btn-default  searchBut submit"><i class="fa fa-search"></i>搜索</button>
                                 <button type="button" id="ExportOrder" name="ExportOrder" class="btn btn-default  searchBut submit" onclick="output();"><i class="fa fa-download"></i>导出</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        
        <!-- Main content -->

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>订单编号</th>
                                        <th>创建时间</th>
                                        <th>店铺名称</th>
                                       @* <th>换货类型</th>*@
                                        <th>处理状态</th>
                                        <th>原因描述</th>
                                        <th>管理操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (OrderChangeInfo info in Model.OrderChangeList)
                                    {
                                        <tr>
                                            
                                            <td>@info.ChangeId</td>
                                            <td><a href="@Url.Action("orderinfo", new { oid = info.Oid })" class="btn-link">@info.OSN</a></td>
                                            <td>@info.CreationDate.ToString("yyyy-MM-dd HH:mm")</td>
                                            <td>@info.StoreName</td>
@*                                            <td>
                                                @if (info.ChangeType == 0)
                                                { 
                                                    <span style="color: #0D9F9F;">同款换货</span>
                                                }
                                                @if (info.ChangeType == 1)
                                                { 
                                                    <span style="color: red;">新规格换货</span>
                                                }
                                            </td>*@
                                            <td>
                                                @if (info.State == 1)
                                                { 
                                                    <span style="color: #0D9F9F;">审核中</span>
                                                }
                                                @if (info.State == 2)
                                                { 
                                                    <span style="color: red;">审核通过</span>
                                                }
                                                @if (info.State == 3)
                                                { 
                                                    <span style="color: red;">收货完成</span>
                                                }
                                                @if (info.State == 4)
                                                { 
                                                    <span style="color: red;">换货完成</span>
                                                }
                                            </td>
                                            <td>@info.ChangeDesc.ToString()</td>

                                            <td>
                                                @if (info.State == 1)
                                                {
                                                    <a href="@Url.Action("orderinfo", new { oid = info.Oid })" class="editOperate">[审核]</a>
                                                }
                                                @if (info.State == 2)
                                                {
                                                    <a href="@Url.Action("ConfirmReceiveChange", new { oid = info.Oid })" class="editOperate">[确认换货收货]</a>
                                                }
                                                @if (info.State == 3)
                                                {
                                                    <a href="@Url.Action("ChangeOrderSend", new { oid = info.Oid })" class="editOperate">[换货发货]</a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

        <!-- /.content -->
       
        <div class="dataListEdit">
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
}