@model VMall.Web.MallAdmin.Models.OrderInfoModel
@section header{
    <title>订单信息</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <link href="/admin_mall/content/jbox/Skins/Default/jbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <style type="text/css">
        .addTable table {
            border-right: 1px solid #d1d1d1;
            border-bottom: 1px solid #d1d1d1;
            margin-top: 20px;
            margin-left: 16px;
        }

            .addTable table th {
                background: #dbeffa;
                font-weight: normal;
                height: 26px;
                padding-left: 4px;
            }

                .addTable table th a {
                    padding-left: 8px;
                }

            .addTable table td {
                border-left: 1px solid #d1d1d1;
                border-top: 1px solid #d1d1d1;
                height: 26px;
                padding-left: 10px;
            }

                .addTable table td.pImg {
                    padding: 10px;
                }

        .admin tr td a, .btn_a {
            display: inline-block;
            color: #fff;
            background-color: #428bca;
            padding: 4px 12px;
            margin: 20px 60px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            /*text-shadow: 0 1px 1px rgba(255,255,255,0.75);*/
            vertical-align: middle;
            cursor: pointer;
        }

            .admin tr td a:hover {
                background-color: #006dcc;
            }

        .admin tr td {
            text-align: center;
        }
    </style>
    <script>
        function cancelBeforeSend(oid) {
            if (confirm("订单现在为备货成功状态，请先确认是否已经发货。确认后订单未发货请选择“确定”按钮取消订单，确认已经发货请选择“取消”按钮中止本次取消订单操作！")) {
                window.location.href = "/malladmin/order/cancelorder?oid=" + oid;
            }
        }
        function cancelOrder(oid) {
            if (confirm("确认取消订单吗！")) {
                window.location.href = "/malladmin/order/cancelorder?oid=" + oid;
            }
        }

        function opreationmark(ele) {
            var oid = $(ele).attr("data-oid");
            //alert(id);
            var html = "<div style='padding:10px;'> <p>输入操作备注：</p>";
            html += "<textarea type='text' id='remark'rows='5' cols='45' name='remark' ></textarea></div>";
            var submit = function (v, h, f) {

                //window.location.href = "/malladmin/HaimiDrawCash/UpdateState?Id=" + id + "&state=0&remark=" + f.failmark;
                $.ajax({
                    type: "POST",
                    url: "/malladmin/Order/AddAdminRemark?r=" + Math.random(),
                    data: { oid: oid, remark: f.remark },
                    success: function (result) {
                        if (result == "1") {
                            $.jBox.tip("修改成功");
                            window.location.href = window.location.href;
                        }
                        else if (result == "0") {
                            $.jBox.tip("修改失败");
                            //alert("批量撤销失败");
                            window.location.href = window.location.href;
                        }
                    }
                });
                return true;
            };

            $.jBox(html, { title: "确认信息", top: -50, submit: submit });
        }

        function showreturnopreation(oid, pid) {
            //var id = $(ele).attr("data-id");
            var html = "<div style='padding:10px;'> <p>输入数量：</p>";
            html += "<input type='text' id='returncount'rows='5' cols='45' name='returncount' ></input></div>";
            var submit = function (v, h, f) { //SingleProductRefund(int oid, int pid, int returnCount)
                window.location.href = "/malladmin/order/SingleProductRefund?oid=" + oid + "&pid=" + pid + "&returnCount=" + f.returncount;
                return true;
            };
            $.jBox(html, { title: "确认信息", submit: submit });
        }

        function opreationmofidyreceiv(ele) {
            var oid = $(ele).attr("data-oid");
            $.jBox.tip("正在修改...", 'loading');
            $.get("/malladmin/order/ModifyReceivTime?oid=" + oid + "&t=" + new Date(), function (data, textStatus) {
                if (data == "1") {
                    $.jBox.tip("修改成功");
                    window.location.href = window.location.href;
                } else {
                    $.jBox.error('设置失败，请联系管理员！', '设置失败');
                }
            });
        }

    </script>
}

@section body{
    <h1 class="rightH1">订单管理 &gt;&gt; 订单信息
        <div class="right">
            <a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT">
                <img src="/admin_mall/content/images/goback.jpg" />返回列表</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>

    @using (Html.BeginForm())
    {
        <div class="addTable">
            <table width="97%">
                <tr>
                    <th colspan="4" align="left">基本信息</th>
                </tr>
                <tr>
                    <td width="150px">订单序号：</td>
                    <td width="320px">@Model.OrderInfo.Oid</td>
                    <td width="150px">订单编号：</td>
                    <td>@Model.OrderInfo.OSN</td>
                </tr>
                <tr>
                    <td width="150px">订单状态：</td>
                    <td>
                        @{string state = string.Empty;
                          if (Model.OrderInfo.OrderState == (int)OrderState.Completed || Model.OrderInfo.OrderState == (int)OrderState.Returned)
                          {
                              if (Model.OrderInfo.OrderState == (int)OrderState.Completed)
                              {
                                  state = Enum.GetName(typeof(OrderState), TypeHelper.ObjectToInt(Model.OrderInfo.OrderState)) + "-" + Model.OrderInfo.ReturnType.ToString() + "-" + Model.OrderInfo.ChangeType.ToString();
                              }
                              else if (Model.OrderInfo.OrderState == (int)OrderState.Returned)
                              {
                                  state = Enum.GetName(typeof(OrderState), TypeHelper.ObjectToInt(Model.OrderInfo.OrderState)) + "-" + Model.OrderInfo.ReturnType.ToString();
                              }
                          }
                          else
                          {
                              state = Enum.GetName(typeof(OrderState), TypeHelper.ObjectToInt(Model.OrderInfo.OrderState));

                          }
                        }
                        @switch (state)
                        {
                            case "WaitPaying":
                            @:等待付款
            break;
                            case "Confirming":
                            @:待确认
            break;
                            case "Confirmed":
                            @:已确认
            break;
                            case "PreProducting":
                            @:备货中
            break;
                            case "Sended":
                            @:已发货
            break;
                            case "Completed-0-0":
                            @:已完成
            break;
                            case "Completed-0-1":
                            @:<span style="color:red;">换货审核中</span>
            break;
                            case "Completed-0-2":
                            @:<span style="color:red;">换货审核通过</span>
            break;
                            case "Completed-0-3":
                            @:<span style="color:red;">换货等待发货</span>
            break;
                            case "Completed-0-4":
                            @:<span style="color:red;">换货确认收货</span>
            break;
                            case "Completed-0-5":
                            @:<span>换货完成</span>
            break;
                            case "Completed-1-0":
                            @:<span style="color:red;">退货审核中</span>
            break;
                            case "Settled":
                            @:已结算
                                    break;
                            case "Cancelled":
                            @:取消
            break;
                            case "Returned-2":
                            @:<span style="color:red;">退货审核通过</span>
            break;
                            case "Returned-3":
                            @:<span style="color:red;">退款审核中</span>
            break;
                            case "Returned-4":
                            @:退款成功
            break;
                            case "Changed":
                            @:换货
            break;
                            case "Locked":
                            @:锁定
            break;
                            default:
                            @:未知状态
            break;
                        }
                    </td>
                    <td>下单时间：</td>
                    <td>@Model.OrderInfo.AddTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>

                <tr>
                    <th colspan="4" align="left">支付信息</th>
                </tr>
                <tr>
                    <td width="150px">支付方式：</td>
                    <td width="320px">@Model.OrderInfo.PayFriendName</td>
                    <td width="150px">支付时间：</td>
                    <td>
                        @if (Model.OrderInfo.OrderState <= (int)OrderState.WaitPaying)
                        {
                            @:未支付
    }
                        else
                        {
                            @Model.OrderInfo.PayTime.ToString("yyyy-MM-dd HH:mm:ss")
                        }
                    </td>
                </tr>
                <tr>
                    <td>支付单号：</td>
                    <td>@Model.OrderInfo.PaySN</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table width="97%">
                <tr>
                    <th colspan="4" align="left">用户信息</th>
                </tr>
                <tr>
                    <td width="150px">用户编号：</td>
                    <td width="320px">@Model.UserInfo.Uid</td>
                    <td width="150px">用户名：</td>
                    <td>@Model.UserInfo.UserName</td>
                </tr>
                <tr>
                    <td>真实姓名：</td>
                    <td>@Model.UserInfo.RealName</td>
                    <td>性别：</td>
                    <td>@{
                        switch (Model.UserInfo.Gender)
                        {
                            case 0:
                        @:未知
            break;
                            case 1:
                        @:男
            break;
                            case 2:
                        @:女
            break;
                            default:
                        @:未知
            break;
                        }
                    }</td>
                </tr>
                <tr>
                    <td>用户昵称：</td>
                    <td>@Model.UserInfo.NickName</td>
                    @*<td>用户等级：</td>
                    <td>@Model.UserRankInfo.Title</td>*@
                    <td>会员类型：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>邮箱号：</td>
                    <td>@Model.UserInfo.Email</td>
                    <td>手机号：</td>
                    <td>@Model.UserInfo.Mobile</td>
                </tr>
            </table>



            <table width="97%">
                <tr>
                    <th colspan="4" align="left">收货信息</th>
                </tr>
                <tr>
                    <td width="150px">收货人：</td>
                    <td width="320px">@Model.OrderInfo.Consignee</td>
                    <td width="150px">邮箱：</td>
                    <td>@Model.OrderInfo.Email</td>
                </tr>
                <tr>
                    <td>手机号：</td>
                    <td>@Model.OrderInfo.Mobile</td>
                    <td>固话号：</td>
                    <td>@Model.OrderInfo.Phone</td>
                </tr>
                <tr>
                    <td>邮编：</td>
                    <td>@Model.OrderInfo.ZipCode</td>
                    <td>最佳时间：</td>
                    <td>
                        @if (Model.OrderInfo.BestTime.Year > 2000)
                        {
                            @Model.OrderInfo.BestTime.ToString("yyyy-MM-dd HH:mm:ss")
                        }
                    </td>
                </tr>
                <tr>
                    <td>配送地址：</td>
                    <td colspan="3">
                        @if (Model.RegionInfo != null)
                        {
                            @Model.RegionInfo.ProvinceName @Model.RegionInfo.CityName @Model.RegionInfo.Name @Model.OrderInfo.Address
                        }
                        else
                        {
                            @Model.OrderInfo.Address
                        }
                    </td>
                </tr>
                <tr>
                    <td>确认收货时间：</td>
                    <td colspan="3">
                        @if (Model.OrderInfo.ReceivingTime < Model.OrderInfo.AddTime)
                        {
                            @:未收货
                        }
                        else
                        {
                            @Model.OrderInfo.ReceivingTime.ToString("yyyy-MM-dd HH:mm:ss")  
                            if (WorkContext.MallAGid == 2)
                            {  <a href="javascript:;" data-oid="@Model.OrderInfo.Oid" style="margin-left:20px;text-decoration:underline;color:blue;" onclick="opreationmofidyreceiv(this)">修改收货时间</a>
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <th colspan="4" align="left">配送信息
                        @if (WorkContext.OperateRights.Exists(x => x.Operate == "UpdateShipInfo"))
                        {
                            <a href="@Url.Action("UpdateShipInfo", new { oid = Model.OrderInfo.Oid })" style="margin-left:20px;text-decoration:underline;color:blue;">修改快递信息</a>
                        }
                    </th>
                </tr>
                <tr>
                    <td width="150px">配送方式：</td>
                    <td width="320px">@Model.OrderInfo.ShipCoName</td>
                    <td width="150px">配送时间：</td>
                    <td>
                        @if (Model.OrderInfo.OrderState <= (int)OrderState.PreProducting)
                        {
                            @:未配送
    }
                        else
                        {
                            @Model.OrderInfo.ShipTime.ToString("yyyy-MM-dd HH:mm:ss")
                        }
                    </td>
                </tr>
                <tr>
                    <td>配送单号：</td>
                    <td>@Model.OrderInfo.ShipSN
                        @*<a href="@Url.Action("UpdateOrderShipSN", new { oid = Model.OrderInfo.Oid })" style="margin-left:100px;text-decoration:underline;color:blue;">修改快递单号</a>*@
                    </td>
                    <td>配送费用：</td>
                    <td>@Model.OrderInfo.ShipFee</td>
                </tr>
            </table>
            <table width="97%">
                <tr>
                    <th colspan="11" align="left">订单商品</th>
                </tr>
                <tr>
                    <td align="center" width="60">商品图片</td>
                    <td>商品名称</td>
                    <td>商品详情</td>
                    <td width="140">货号</td>
                    <td width="80">价格</td>
                    <td width="50">数量</td>
                    <td width="80">小计</td>

                    <td width="80">操作</td>
                </tr>
                @foreach (OrderProductInfo info in Model.OrderProductList)
                {
                    PartProductInfo pro = Products.GetPartProductById(info.Pid);
                    <tr>
                        <td align="center" class="pImg">
                            <img width="60px" height="60px" src="/upload/store/@{@info.StoreId}/product/show/thumb@{@ViewData["size"]}/@info.ShowImg" /></td>
                        <td>@if (info.Type == 3)
                            { 
                                <span style="color: red;">[套装]</span>
                            }
                            <a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", info.Pid }, { "area",  "mob" } })"  class="btn-link" target="_blank"> @info.Name </a>
                        </td>
                        <td>
                            @if (pro != null)
                            { 
                                @pro.SubTitle
                            }
                        </td>
                        <td>@info.PSN</td>
                        <td>@info.DiscountPrice</td>
                        @if (info.Type == 1)
                        {
                            <td>@info.RealCount</td>
                        }
                        else
                        {
                            <td>@info.RealCount</td>
                        }
                        <td>@if (info.Type == 3)
                            {
                            @Html.Raw((info.DiscountPrice * info.RealCount).ToString())}
                            else
                            {
                            @Html.Raw((info.DiscountPrice * info.BuyCount).ToString())
                            }

                        </td>
                        <td>

                            @if (Model.OrderInfo.OrderState == (int)OrderState.Completed && Model.OrderInfo.ReturnType == 0 && WorkContext.MallAGid == 2)
                            { 
                                <a href="javascript:void(0);" class="btn_a" style="width:60px;color:#fff;" onclick="showreturnopreation(@Model.OrderInfo.Oid,@info.Pid);">部分申请退款</a>
                            }
                        </td>
                    </tr>
                }
            </table>

            <table width="97%">
                <tr>
                    <th colspan="4" align="left">订单金额</th>
                </tr>
                <tr>
                    <td>商品合计：</td>
                    <td>@Model.OrderInfo.ProductAmount</td>
                    <td>配送费用：</td>
                    <td>@Model.OrderInfo.ShipFee</td>

                </tr>
                <tr>
                    <td width="150px">订单合计：</td>
                    <td width="320px">@Model.OrderInfo.OrderAmount</td>
                    <td width="150px">应付金额：</td>
                    <td>@Model.OrderInfo.SurplusMoney</td>
                </tr>

                @*<tr>
                    <td>积分数量：</td>
                    <td>@Model.OrderInfo.PayCreditCount</td>
                    <td>积分金额：</td>
                    <td>@Model.OrderInfo.PayCreditMoney</td>
                </tr>*@
                <tr>
                    <td>优惠劵金额：</td>
                    <td>@Model.OrderInfo.CouponMoney</td>
                    <td>满减：</td>
                    <td>@Model.OrderInfo.FullCut</td>

                </tr>
                 <tr>
                    <td>@(MallKey.MallDiscountName_JiangJin)抵扣：</td>
                    <td>@Model.OrderInfo.HaiMiDiscount</td>
                    <td>@(MallKey.MallDiscountName_JiFen)抵扣：</td>
                    <td>@Model.OrderInfo.HongBaoDiscount</td>
                </tr>
                <tr>
                  

                    <td>订单折扣：</td>
                    <td>@Model.OrderInfo.Discount</td>
                      <td>  </td>
                    <td>  </td>

                </tr>

            </table>


            <table width="97%">
                <tr>
                    <th colspan="4" align="left">发票抬头、备注信息</th>
                </tr>
                <tr>
                    @*<td width="150">身份证：</td>
                    <td width="320">@(Model.OrderInfo.BuyerRemark.Contains("-身份证") ? Model.OrderInfo.BuyerRemark.Substring(Model.OrderInfo.BuyerRemark.IndexOf("-身份证") + 5) : "")</td>*@
                    <td width="150">订单备注</td>
                    <td>@(Model.OrderInfo.BuyerRemark.Contains("-身份证") ? Model.OrderInfo.BuyerRemark.Substring(0, Model.OrderInfo.BuyerRemark.IndexOf("-身份证")) : Model.OrderInfo.BuyerRemark)</td>

                    <td width="150">发票信息：</td>
                    <td width="320">@Model.OrderInfo.InvoiceMore</td>

                </tr>

                <tr>
                    <th colspan="4" align="left">附加状态</th>
                </tr>
                <tr>
                    <td width="150px">是否删除</td>
                    <td width="320px">
                        @if (Model.OrderInfo.IsDelete == 0)
                        { 
                            @:&nbsp;
                         }
                        else
                        {
                            @:<span style="color:red;">已删除</span>
                         }
                    </td>
                    <td width="150px">是否延长收货</td>
                    <td style="padding: 0px 10px;">
                        @if (Model.OrderInfo.IsExtendReceive == 0)
                        { 
                            @:&nbsp;
                         }
                        else
                        {
                            @:<span style="color:blue;">已延长</span>
                         }
                    </td>
                </tr>
            </table>

            <table width="97%" id="adminoperate" class="admin">
                <tr>
                    <th colspan="4" align="left">订单后台操作备注</th>
                </tr>
                <tr>

                    <td width="100px" align="left" style="text-align: left;">
                        @Model.OrderInfo.AdminRemark
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        <a href="javascript:void(0);"  data-oid="@Model.OrderInfo.Oid" onclick="opreationmark(this);">添加新备注</a>

                    </td>
                </tr>

                <tr>
                    <th colspan="4" align="left">管理操作</th>
                </tr>
                <tr>
                    <td width="100px">
                        @{
                        OrderState orderState = (OrderState)Model.OrderInfo.OrderState;
                        if (orderState == OrderState.WaitPaying)
                        {
                            //银行汇款
                            if (Model.OrderInfo.PayMode == 2)
                            {
@*<a href="@Url.Action("payorder", new { oid = Model.OrderInfo.Oid })">付款</a>*@
                                if (WorkContext.OperateRights.Exists(x => x.Operate == "BankTransferConfirm"))
                                {
                            <a href="@Url.Action("BankTransferConfirm", new { oid = Model.OrderInfo.Oid })">
                                @if (Model.OrderInfo.PaySystemName == "emsremit")
                                {
                                    @:汇款确认
                                }
                                else
                                {
                                    @:微信收款码收款确认
                                }
                            </a>
                                }
                            }
                            
@*if (WorkContext.OperateRights.Exists(x => x.Operate == "ordercancel"))
                            {
                            <a href="@Url.Action("cancelorder", new { oid = Model.OrderInfo.Oid })">取消</a>
                            }*@
                            
                            if (WorkContext.OperateRights.Exists(x => x.Operate == "updateorderdiscount"))
                            {
                            <a href="@Url.Action("updateorderdiscount", new { oid = Model.OrderInfo.Oid })">修改折扣</a>
                            }
                            if (WorkContext.OperateRights.Exists(x => x.Operate == "updateordershipfee"))
                            {
                            <a href="@Url.Action("updateordershipfee", new { oid = Model.OrderInfo.Oid })">修改配送费用</a>
                            }
                        }
                        else if (orderState == OrderState.Confirming)
                        {
                            if (Model.OrderInfo.PayMode == 0)
                            {
@*if (WorkContext.OperateRights.Exists(x => x.Operate == "ordercancel"))
                                {
                            <a href="@Url.Action("cancelorder", new { oid = Model.OrderInfo.Oid })">取消</a>
                                }*@

                                if (WorkContext.OperateRights.Exists(x => x.Operate == "updateorderdiscount"))
                                {
                            <a href="@Url.Action("updateorderdiscount", new { oid = Model.OrderInfo.Oid })">修改折扣</a>
                                }
                                if (WorkContext.OperateRights.Exists(x => x.Operate == "updateordershipfee"))
                                {
                            <a href="@Url.Action("updateordershipfee", new { oid = Model.OrderInfo.Oid })">修改配送费用</a>
                                }
                            }
                            if (WorkContext.OperateRights.Exists(x => x.Operate == "confirmorder"))
                            {
                            <a href="@Url.Action("confirmorder", new { oid = Model.OrderInfo.Oid })">确认</a>
                            }
@*if (WorkContext.OperateRights.Exists(x => x.Operate == "ordercancel"))
                            {
                            <a href="@Url.Action("cancelorder", new { oid = Model.OrderInfo.Oid })">取消</a>
                            }*@
                        }
                        else if (orderState == OrderState.Confirmed)
                        {
@*if (WorkContext.OperateRights.Exists(x => x.Operate == "ordercancel"))
                            {
                            <a href="@Url.Action("cancelorder", new { oid = Model.OrderInfo.Oid })">取消</a>
                            } *@
                            if (WorkContext.OperateRights.Exists(x => x.Operate == "preorderproduct"))
                            {
                            <a href="@Url.Action("preorderproduct", new { oid = Model.OrderInfo.Oid })">备货</a>
                            }
                        }
                        else if (orderState == OrderState.PreProducting)
                        {

                            if (WorkContext.OperateRights.Exists(x => x.Operate == "sendorderproduct"))
                            {
                            <a href="@Url.Action("sendorderproduct", new { oid = Model.OrderInfo.Oid })">发货</a>
                            }
                            if (WorkContext.OperateRights.Exists(x => x.Operate == "ordercancel"))
                            {
                            <a href="javascript:void(0);" onclick="cancelBeforeSend(@Model.OrderInfo.Oid)">取消</a>
                            }
                        }
                        else if (orderState == OrderState.Sended)
                        {
                            if (Model.OrderInfo.IsExtendReceive != 1)
                            {
                                if (WorkContext.OperateRights.Exists(x => x.Operate == "ExtendReceive"))
                                {
                            <a href="@Url.Action("ExtendReceive", new { oid = Model.OrderInfo.Oid })">延长收货期</a>
                                }
                            }
@*<a href="@Url.Action("completeorder", new { oid = Model.OrderInfo.Oid })">完成</a>
                            <a href="@Url.Action("returnorderproduct", new { oid = Model.OrderInfo.Oid })">退货</a>*@
                        }
                        else if (orderState == OrderState.Completed)
                        {
@*<a href="@Url.Action("returnorderproduct", new { oid = Model.OrderInfo.Oid })">退货</a>*@
                        }
                        if (orderState == OrderState.WaitPaying || orderState == OrderState.Confirming || orderState == OrderState.Confirmed)
                        {
                            if (WorkContext.OperateRights.Exists(x => x.Operate == "ordercancel"))
                            {
                            <a href="javascript:void(0);" onclick="cancelOrder(@Model.OrderInfo.Oid)">取消</a>
                            }
                        }
                        if (Model.OrderInfo.IsDelete == 1)
                        {
                            <a href="@Url.Action("CancelDelete", new { oid = Model.OrderInfo.Oid })">取消删除</a>
                        }
                        }
                    </td>
                </tr>
            </table>

            @if (Model.OrderInfo.ReturnType == 1)
            {
                <table width="97%" id="adminreturnoperate" class="admin">
                    <tr>
                        <th colspan="4" align="left">订单退货审核操作</th>
                    </tr>
                    <tr align="left">
                        <td width="150px" align="left" style="text-align: left">退货原因</td>
                        <td colspan="3" align="left" style="text-align: left">
                            @Model.OrderReturnInfo.ReturnDesc
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4">
                            @if (WorkContext.OperateRights.Exists(x => x.Operate == "returncheck"))
                            {
                                <a href="@Url.Action("CancelReturn", new { oid = Model.OrderInfo.Oid })">审核不通过，取消退货</a>
                                <a href="@Url.Action("ConfirmReturn", new { oid = Model.OrderInfo.Oid })">审核通过，确定退货</a>
                            }
                        </td>
                    </tr>
                </table>
            }

            @if (Model.OrderInfo.ChangeType == 1)
            {
                <table width="97%" id="adminrechangeoperate" class="admin">
                    <tr>
                        <th colspan="4" align="left">订单换货审核操作</th>
                    </tr>
                    <tr align="left">
                        <td width="150px" align="left" style="text-align: left">换货原因</td>
                        <td colspan="3" align="left" style="text-align: left">
                            @Model.OrderChangeInfo.ChangeDesc
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4">
                            @if (WorkContext.OperateRights.Exists(x => x.Operate == "changecheck"))
                            {
                                <a href="@Url.Action("CancelChange", new { oid = Model.OrderInfo.Oid })">审核不通过，取消换货</a>
                                <a href="@Url.Action("ConfirmChange", new { oid = Model.OrderInfo.Oid })">审核通过，确定换货</a>
                            }
                        </td>
                    </tr>
                </table>
            }

            <table width="97%">
                <tr>
                    <th colspan="4">订单跟踪</th>
                </tr>
                <tr>
                    <td width="80px">操作人</td>
                    <td width="150px">操作时间</td>
                    <td>操作备注：</td>
                </tr>
                @foreach (OrderActionInfo info in Model.OrderActionList)
                {
                    <tr>
                        <td>@info.RealName</td>
                        <td>@info.ActionTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        @if (info.ActionType == 4)
                        { 
                            <td>您的订单已经发货,发货方式为:@Model.OrderInfo.ShipCoName,物流单号：@Model.OrderInfo.ShipSN</td>
                        }
                        else
                        {
                            <td>@info.ActionDes</td>
                        }
                    </tr>
                }
            </table>
            
            <br />
        </div>    
    }
}