@{
    Layout = "~/views/shared/_layout_user.cshtml";
    ViewBag.Title = "信息填写-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.PositionTitle = "信息填写";
    ViewBag.Mark = 2;
    ViewBag.IsBox1210 = 0;
}
<link href="@{@WorkContext.CSSCDN}/css/account.css" rel="stylesheet" type="text/css" />
<script src="@{@WorkContext.ScriptCDN}/scripts/account.js?dddd" type="text/javascript"></script>

<style>
    .radio {
        width: 30px;
        font-size: 24px;
    }

    #managerType {
        font-size: 14px;
    }

    .info th {
        font-weight: normal;
        font-size: 14px;
        color: #999;
        padding-right: 10px;
        width: 190px;
        text-align: right;
        height: 60px;
    }

    .info .succ_on .text {
        border: 1px solid #C0C0C0;
    }

    .info .text {
        width: 238px;
        height: 16px;
        padding: 10px 25px 10px 5px;
        border: 1px solid #cccccc;
        float: none;
        font-size: 14px;
        color: #999;
        overflow: hidden;
        outline: none;
    }

        .info .text:focus {
            border: 1px solid #3879d9;
        }

    .info .regBt {
        font-size: 18px;
        font-weight: bold;
        color: #FFF;
        display: block;
        text-align: center;
        width: 270px;
        padding: 7px 0;
        font-weight: normal;
        margin-top: 10px;
    }

    .redBT {
        padding: 1px 10px;
        background: #D02424;
        color: #FFF;
        border: 1px solid #9F1F24;
    }

    .required {
        color: red;
    }

    .select {
        width: 270px;
        text-align: center;
        margin: 0 auto;
        height: 38px;
        border: 1px solid #C0C0C0;
    }
</style>
<div class="bigBox" id="member">
    <div class="box info">
        @Html.Partial("/views/ucenter/leftNav.cshtml")
        <div id="memberR" style="position: relative;">
            <h2 id="memberRT">@ViewBag.PositionTitle</h2>

            <form name="rForm" action="@Url.Action("CreatDSMember")" method="post">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="succ_on">
                        <th width="190">推荐人编号：</th>
                        <td width="275">
                            @{string pcode = (string)ViewData["parentCode"];}
                            <input type="text" id="parentCode" name="parentCode" @(string.IsNullOrEmpty(pcode) ? "" : "readOnly=true") value="@(pcode)" class="text" /></td>
                        <td><em class="required">*
                            @if (string.IsNullOrEmpty(pcode)) { 
                                <i>推荐人还未安置</i>
                            }
                            </em></td>
                    </tr>

                    <tr class="succ_on" id="managerCodeTr">
                        <th width="190"><em></em>安置人编号：</th>
                        <td width="275">
                            <input type="text" id="managerCode" name="managerCode" value="" class="text" /></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="succ_on" id="managerAreaTr">
                        <th width="190"><em></em>安置分区：</th>
                        <td width="275">
                            <select id="placeSide" name="placeSide" class="select">
                                <option value="1">&nbsp;A&nbsp;区&nbsp;
                                </option>
                                <option value="2">&nbsp;B&nbsp;区&nbsp;
                                </option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="succ_on">
                        <th width="190">手机：</th>
                        <td width="275">
                            <input type="text" id="userPhone" name="userPhone" value="" class="text" maxlength="11" /></td>
                        <td></td>
                    </tr>
                    <tr class="succ_on">
                        <th width="190">姓名：</th>
                        <td width="275">
                            <input type="text" id="realName" name="realName" value="" class="text" /></td>
                        <td><em class="required">*</em></td>
                    </tr>
                    <tr class="succ_on">
                        <th width="190">身份证号：</th>
                        <td width="275">
                            <input type="text" id="userCard" name="userCard" value="" class="text" maxlength="18" /></td>
                        <td><em class="required">*</em></td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <input type="hidden" value="@ViewData["joinuid"]" class="joinuid" name="joinuid"/>
                        <td><a href="javascript:void(0);" class="regBt redBT" onclick=" return join(this)">立即加入</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<script>
    function join($this) {
        if (checkInput()) {
            $("form").submit();
        }
    }
    //检查输入
    function checkInput() {
        if ($.trim($("#parentCode").val()) == "") {
            alert("推荐人编号不能为空");
            $("#parentCode").focus();
            return false;
        }
        var patrn = /^0?1[3|4|5|7|8][0-9]\d{8}$/;
        var userPhone = $.trim($("#userPhone").val());
        if (userPhone != "" && !patrn.test(userPhone)) {
            alert('对不起,您输入的手机号码格式错误,请重新输入,谢谢!');
            $("#userPhone").focus();
            return false;
        }
        if ($.trim($("#realName").val()) == "") {
            alert("姓名不能为空");
            $("#realName").focus();
            return false;
        }
        if ($.trim($("#userCard").val()) == "") {
            alert("身份证号码不能为空");
            $("#userCard").focus();
            return false;
        }
        //var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        var reg = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
        if (reg.test($.trim($("#userCard").val())) === false) {
            alert("身份证输入不合法,请重新输入");
            $("#userCard").focus();
            return false;
        }
        return true;
    }

</script>




