@model List<VMall.Core.CashCouponInfo>
@{
    Layout = "~/views/shared/_layout_user.cshtml";
    ViewBag.Title = "汇购卡-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.PositionTitle = "汇购卡";
    ViewBag.Mark = 2;
    ViewBag.IsBox1210 = 0;
}

<div class="bigBox" id="member">
    <div class="box">
        @Html.Partial("/views/ucenter/leftNav.cshtml")

        <div id="memberR">
            <h2 id="memberRT">@ViewBag.PositionTitle</h2>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb-void">
                <thead>
                    <tr>
                        <th width="100px" align="left">编号</th>
                        <th width="100px" align="left">创建时间</th>
                        <th width="80px" align="left">面值</th>
                        <th width="80px" align="left">可用余额</th>
                        <th width="160px" align="left">有效期</th>
                        <th width="160px" align="left">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">@item.CashCouponSN</td>
                            <td align="center">@item.CreationDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td align="center">@item.CashAmount</td>
                            <td align="center">@item.Banlance</td>
                            <td align="center">@item.ValidTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td align="center"><a href="@Url.Action("cashdetail", new { cashid = item.CashId })">查看详情</a> </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

