@model  VMall.Web.Models.DrawCashHistoryModel
@{
    Layout = "~/views/shared/_layout_user.cshtml";
    ViewBag.Title = "提现历史记录-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.PositionTitle = "提现历史记录";
    ViewBag.Mark = 2;
    ViewBag.IsBox1210 = 0;
}

<style>
    table {
        margin-bottom: 40px;
    }

        table tr {
            height: 35px;
            line-height: 35px;
        }
</style>

<div class="bigBox" id="member">
    <div class="box">
        @Html.Partial("/views/ucenter/leftNav.cshtml")

        <div id="memberR" style="padding-bottom: 0px; height: auto;">
            <h2 id="memberRT">
                <strong>@ViewBag.PositionTitle</strong>&nbsp; 
    
    <div class="clear"></div>
            </h2>

            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb-void">
                @*<thead>
    <tr >
      <th colspan="3">账户详情</th>
    </tr>
  </thead>*@
                <tbody>
                    <tr>
                        <th>提现账户</th>
                        <th>提现单号</th>
                        <th>创建时间</th>
                        <th>提现金额</th>
                        @*<th>提现税费</th>*@
                        <th>提现手续费</th>
                        <th>实际金额</th>
                        <th>银行信息 </th>
                        <th>状态</th>
                        <th>处理结果</th>
                    </tr>

                    @foreach (var info in Model.HistoryList)
                    {
                        <tr>
                            <td>@Model.AccountName</td>
                            <td>@info.DrawCashSN</td>
                            <td>@info.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>@info.Amount.ToString("0.00")</td>
                           @* <td>@info.TaxAmount.ToString("0.00")</td>*@
                            <td>@info.Poundage.ToString("0.00")</td>
                            <td>@info.ActualAmount.ToString("0.00")</td>
                            <td>@info.BankName : <br /> @(string.IsNullOrEmpty(info.BankCardCode)?"": info.BankCardCode.Substring(0, 3) + "****" + info.BankCardCode.Substring(info.BankCardCode.Length - 3, 3))</td>
                            <td>
                                @if (info.State == 0)
                                {  
                                    @:处理失败，已撤销
                                }
                                else if (info.State == 1)
                                {
                                    @:等待处理 
                                    }
                                else if (info.State == 2)
                                { 
                                    @:处理成功
                                    }
                            </td>
                            <td>
                                @info.Result
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.WebPager(Model.PageModel).ShowSummary(false)
        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
