@model VMall.Web.Models.FavoriteProductListModel
@{
    Layout = "~/views/shared/_layout_user.cshtml";
    ViewBag.Title = "收藏商品-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.PositionTitle = "收藏商品";
    ViewBag.Mark = 2;
    ViewBag.IsBox1210 = 0;
}


<div class="bigBox" id="member">
<div class="box">
@Html.Partial("/views/ucenter/leftNav.cshtml")

<div id="memberR">
    <h2 id="memberRT">@ViewBag.PositionTitle
        @*<div class="searchList">
            <select>
  <option>最近3个月</option>
  <option>今年内</option>
</select>
            <select>
<option>全部状态</option>
<option>等待付款</option>
<option>等待自提</option>
<option>等待收货</option>
<option>已完成</option>
<option>已取消</option>
</select>
            <input type="text" class="text" value="商品名称、商品编号、订单编号" /><a href="javascript:;" class="whiteBT">搜索</a>
            <div class="clear"></div>
        </div>*@
    </h2>
    <div class="favT">
      @*<label><input type="checkbox" />全选</label>*@
        <div class="favTpage">
            共有 <b>@Model.PageModel.TotalCount</b> 条记录<i>
            <font color="#ff6600">@Model.PageModel.PageNumber</font>/@Model.PageModel.TotalPages </i> &nbsp; 
            @if (Model.PageModel.HasPrePage)
            { 
                <a href = "@Url.Action("favoriteproductlist", new RouteValueDictionary { {"page", Model.PageModel.PrePageNumber} })" class="whiteBT">上一页</a>@:&nbsp; 
            }
            else
            {
                <a href="javascript:;" class="whiteBT">上一页</a>@:&nbsp; 
            }
            @if (Model.PageModel.HasNextPage)
            {
                <a href = "@Url.Action("favoriteproductlist", new RouteValueDictionary { { "page", Model.PageModel.NextPageNumber } })" class="whiteBT">下一页</a>
            }
            else
            {
                <a href="javascript:;" class="whiteBT">下一页</a>
            } 
        </div>
    </div>
    <table width="100%" border="0" cellspacing="0" class="dingdan">
         <thead>
          <tr>
            <th @*colspan="2"*@ valign="bottom">商品信息</th>
            <th>价格</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.ProductList.Rows)
            {
           <tr id="favoriteProduct@{@row["pid"]}">
                @*<td><input type="checkbox" /></td>*@
                <td>
                <div class="proList">
                    <img src="/upload/store/@row["storeid"]/product/show/thumb60_60/@row["showimg"]" width="50" height="50" /><a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", row["pid"] } })">@row["name"]<br /></a>
                    @*<div class="memberStar"><div class="star"><span class="star_yellow" style=" width:80%;">&nbsp;</span></div>
                    <a href="#">10267评价</a></div>*@
                    <div class="clear"></div>
                </div>
                </td>
                <td>@row["shopprice"]<br /></td>
                <td><a href="javascript:delFavoriteProduct(@row["pid"])">删除</a></td>
            </tr>
            }
        </tbody>
    </table>

<div class="favT">
    @*<label><input type="checkbox" />全选</label>*@
    <div class="favTpage">
        共有 <b>@Model.PageModel.TotalCount</b> 条记录<i>
        <font color="#ff6600">@Model.PageModel.PageNumber</font>/@Model.PageModel.TotalPages </i> &nbsp; 
        @if (Model.PageModel.HasPrePage)
        { 
            <a href = "@Url.Action("favoriteproductlist", new RouteValueDictionary { {"page", Model.PageModel.PrePageNumber} })" class="whiteBT">上一页</a>@:&nbsp; 
        }
        else
        {
            <a href="javascript:;" class="whiteBT">上一页</a>@:&nbsp; 
        }
        @if (Model.PageModel.HasNextPage)
        {
            <a href = "@Url.Action("favoriteproductlist", new RouteValueDictionary { { "page", Model.PageModel.NextPageNumber } })" class="whiteBT">下一页</a>
        }
        else
        {
            <a href="javascript:;" class="whiteBT">下一页</a>
        } 
    </div>
</div>

</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
