@model VMall.Web.MallAdmin.Models.AddStoreShipTemplateModel
@section header{
    <title>添加配送模板</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.unobtrusive.js"></script>
}

@section body{
    <h1 class="rightH1">店铺管理 &gt;&gt; 添加配送模板
        <div class="right">
            <a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT">
                <img src="/admin_mall/content/images/goback.jpg" />返回列表</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    <script>
        function changeType(type) {
            if (type == 0) {
                $("#startvalue").html("首件：");
                $("#startunit").html("(件数)");
                $("#addvalue").html("续件：");
                $("#addunit").html("(件数)");
            }
            else {
                $("#startvalue").html("首重：");
                $("#startunit").html("(千克)");
                $("#addvalue").html("续重：");
                $("#addunit").html("(千克)");
            }
        }
        function changeFreeStart(type) {
            if (type == 0 || type == 1) {
                $("#freestartprice").hide();
                $(".freestartprice").val(0);
            }
            else {
                $("#freestartprice").show();
            }
        }
    </script>
    @using (Html.BeginForm())
    {
        <div class="addTable">
            <table width="100%">

                <tr>
                    <td width="150px" align="right">模板标题：</td>
                    <td>@Html.TextBoxFor(x => x.TemplateTitle, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.TemplateTitle)</td>
                </tr>
                <tr>
                    <td align="right">免运费：</td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.Free, 0, new { @class = "checkbox", onclick = "changeFreeStart(0);" })不免运费</label>
                            <label>@Html.RadioButtonFor(x => x.Free, 1, new { @class = "checkbox", onclick = "changeFreeStart(1);" })免运费</label>
                            <label>@Html.RadioButtonFor(x => x.Free, 2, new { @class = "checkbox", onclick = "changeFreeStart(2);" }) 满足包邮价格免运费 </label>
                            <label>@Html.RadioButtonFor(x => x.Free, 3, new { @class = "checkbox", onclick = "changeFreeStart(3);" }) 满足包邮价格部分区域免运费 </label>
                            <label>@Html.RadioButtonFor(x => x.Free, 4, new { @class = "checkbox", onclick = "changeFreeStart(4);" }) 小于数量快递、大于数量物流</label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr id="freestartprice" style="display: none;">
                    <td align="center">包邮起步价格<br />(快递/物流数量起步)：</td>
                    <td>
                        @Html.TextBoxFor(x => x.FreeStartPrice, new { @class = "input freestartprice", size = "3" })@Html.ValidationMessageFor(x => x.FreeStartPrice)
                    </td>
                </tr>
                <tr>
                    <td align="right">备注：</td>
                    <td>
                        @Html.TextAreaFor(x => x.TemplateRemark, new { cols = "40", rows = "6" })@Html.ValidationMessageFor(x => x.TemplateRemark)
                    </td>
                </tr>
                <tr>
                    <td align="right">计费类型：</td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.Type, 0, new { @class = "checkbox", onclick = "changeType(0);" })按件数</label>
                            <label>@Html.RadioButtonFor(x => x.Type, 1, new { @class = "checkbox", onclick = "changeType(1);" })按重量</label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="color:red;">默认区域配送运费:</td>
                    <td align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right" id="startvalue">首件：</td>
                    <td>@Html.TextBoxFor(x => x.StartValue, new { @class = "input", size = "3" })@Html.ValidationMessageFor(x => x.StartValue) <span style="color: red;" id="startunit">(件数)</span></td>
                </tr>
                <tr>
                    <td align="right">首费：</td>
                    <td>@Html.TextBoxFor(x => x.StartFee, new { @class = "input", size = "3" })@Html.ValidationMessageFor(x => x.StartFee)</td>
                </tr>
                <tr>
                    <td align="right" id="addvalue">续件：</td>
                    <td>@Html.TextBoxFor(x => x.AddValue, new { @class = "input", size = "3" })@Html.ValidationMessageFor(x => x.AddValue) <span style="color: red;" id="addunit">(件数)</span></td>
                </tr>
                <tr>
                    <td align="right">续费：</td>
                    <td>@Html.TextBoxFor(x => x.AddFee, new { @class = "input", size = "3" })@Html.ValidationMessageFor(x => x.AddFee)</td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>
                        <a href="" class="addBt" id="sumbitBut">
                            <img src="/admin_mall/content/images/submit.jpg" /></a>
                        <script type="text/javascript">
                            $(function () {
                                $("#sumbitBut").click(function () {
                                    $("form:first").submit();
                                    return false;
                                })
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    }
}