@model VMall.Web.Models.MallSearchModel
@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = Model.Word + "-商城搜索-" + WorkContext.MallConfig.SiteTitle;
    ViewBag.Mark = 2;
    ViewBag.IsBox1210 = 0;
}

@{
    List<CategoryInfo> categoryList = Categories.GetCategoryList();
    CategoryInfo categoryInfo2 = new CategoryInfo();
    if (Model.CategoryInfo.ParentId > 0)
    {
        categoryInfo2 = Categories.GetCategoryById(Model.CategoryInfo.ParentId, categoryList);
    }

    CategoryInfo categoryInfo1 = new CategoryInfo();
    if (categoryInfo2.ParentId > 0)
    {
        categoryInfo1 = Categories.GetCategoryById(categoryInfo2.ParentId, categoryList);
    }
    else
    {

    }
    }

<div class="breadcrumb box1210">
    @*<strong><a href="#">@categoryInfo1.Name</a></strong>
    <span>
        @if (!string.IsNullOrEmpty(categoryInfo1.Name)) {
        @Html.Raw("&nbsp; &gt; &nbsp;")
    }
    
    <a href="#">
        @categoryInfo2.Name</a>
    @if (!string.IsNullOrEmpty(categoryInfo2.Name))
    {
        @Html.Raw("&nbsp; &gt; &nbsp;")
    }
        <a href="@Url.Action("category", new RouteValueDictionary { { "cateId", Model.CategoryInfo.CateId } })">@Model.CategoryInfo.Name</a></span>*@
</div>


<div class="box1210">
<div id="listL">
@*<div id="sortlist" class="m">
  <div class="mt">
    <h2>@categoryInfo1.Name</h2>
  </div>
  <div class="mc">
    <div class="item hot">
        <h3><b></b>相关分类</h3>
        <ul>
        @foreach (CategoryInfo info in Model.CategoryList)
        {
           <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", 0 }, { "cateId", info.CateId }, { "brandId", 0 }, { "filterPrice", 0 }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })">@info.Name</a></li>
        }
        </ul>
     </div>
  </div>
</div>*@
@*
<div class="listHotPro">
<h2>推广商品</h2>

<div class="proList">

<ul>
<li><a href="#">
<img src="images/IMG2.jpg" width="100%" />
<em>小米（Mi）红米No阿斯达啊啊啊斯的te4G</em>
<b>¥1028.00</b>
</a>
</li>


<li><a href="#">
<img src="images/IMG2.jpg" width="100%" />
<em>小米（Mi）红米No阿斯达啊啊啊斯的te4G</em>
<b>¥1028.00</b>
</a>
</li>


</div>
</div>
*@
</div>

<div id="listR">
<div id="listSelect">
@*<h1><b>@Model.Word</b>- 商品筛选</h1>*@

<div id="selectBox" @*style="height:55px"*@>
    @if (Model.FilterAttr.Length == 0)
    {
        if (Model.AAndVList.Count > 0)
        {
            StringBuilder attrRouteValue = new StringBuilder();
            for (int i = 0; i < Model.AAndVList.Count; i++)
            {
                attrRouteValue.Append("0-");
            }
            Model.FilterAttr = attrRouteValue.Remove(attrRouteValue.Length - 1, 1).ToString();
        }
        else
        {
            Model.FilterAttr = "0";
        }
    }
    @if(Model.BrandList.Count > 0)
    {
    <div class="selectItme">
        <h3>品牌：</h3>
        <ul>
            <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", 0 }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })" @if (Model.BrandId == 0)
                                                                                                                                                                                                                                                                                                                { <text>class="hot"</text>}>全部</a></li>
            @foreach (BrandInfo info in Model.BrandList)
            {
            <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word },{ "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", info.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })" @if (Model.BrandId == info.BrandId)
                                                                                                                                                                                                                                                                                                                          {<text>class="hot"</text>} title="@info.Name">@info.Name</a></li>
            }
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
    </div>
    }
    @if(Model.CatePriceRangeList.Length > 0)
    {
    <div class="selectItme">
        <h3>价格：</h3>
        <ul>
            <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", 0 }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })" @if (Model.FilterPrice == 0)
                                                                                                                                                                                                                                                                                                           { <text>class="hot"</text>}>全部</a></li>
            @for (int i = 0; i < Model.CatePriceRangeList.Length; i++)
            {
            <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", i + 1 }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })" @if (Model.FilterPrice == (i + 1))
                                                                                                                                                                                                                                                                                     { <text>class="hot"</text>}>@Model.CatePriceRangeList[i]</a></li>
            }
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
    </div>
    }
  @{
      int order = 1;
      string startStr;
      string endStr;
      string centerStr;
      foreach (KeyValuePair<AttributeInfo, List<AttributeValueInfo>> item in Model.AAndVList)
      {
          if (item.Value.Count > 0)
          {
          startStr = order != 1 ? Model.FilterAttr.Substring(0, StringHelper.IndexOf(Model.FilterAttr, order - 1) + 1) : "";
          endStr = order != Model.AAndVList.Count ? Model.FilterAttr.Substring(StringHelper.IndexOf(Model.FilterAttr, order)) : "";
          centerStr = StringHelper.TrimEnd(StringHelper.TrimStart(Model.FilterAttr, startStr), endStr);
      <div class="selectItme">
          <h3>@item.Key.Name：</h3>
          <ul>
            <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", startStr + "0" + endStr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })" @if (centerStr == "0")
                                                                                                                                                                                                                                                                                                        { <text>class="hot"</text>}>全部</a></li>
            @foreach (AttributeValueInfo info in item.Value)
            {
            <li><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", startStr + info.AttrValueId + endStr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection", 0 }, { "page", 1 } })" @if (centerStr == info.AttrValueId.ToString())
                                                                                                                                                                                                                                                                                                                     { <text>class="hot"</text>}>@info.AttrValue</a></li>
            }
            <div class="clear"></div>
          </ul>
          <div class="clear"></div>
      </div>
            }
            order++;
      }
    }

</div>

@*
<div id="listSelectMore" ><a class="selectDown" href="javascript:;">更多选项（清洗方式，尺寸，大家说等)<b></b></a></div>
<script>
    $(function () {
        var oldHeight;
        $("#listSelectMore a").click(function () {
            if ($(this).hasClass("selectDown")) {
                oldHeight = $("#selectBox").height();
                $("#selectBox").css("height", "100%");
                $(this).html("收起<b></b>").addClass("selectUp").removeClass("selectDown");
            } else {
                $("#selectBox").css("height", oldHeight);
                $(this).html("更多选项（清洗方式，尺寸，大家说等)<b></b>").removeClass("selectUp").addClass("selectDown")
            }
        })
    })
</script>
*@
</div>

<div class="orderList">
<dl>
    <dt>排序:</dt>
    <dd><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 0 }, { "sortDirection",  0 }, { "page", 1 } })" class="@if (Model.SortColumn == 0)
                                                                                                                                                                                                                                                                                                                               { <text>current</text>} ">默认</a></dd>
    <dd><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 1 }, { "sortDirection", Model.SortDirection == 0 ? 1 : 0 }, { "page", 1 } })" class="@if (Model.SortColumn == 1)
                                                                                                                                                                                                                                                                                                                               { <text>current</text>} @if (Model.SortDirection == 1 && Model.SortColumn == 1)
                                                                                                                                                                                                                                                                                                                                                                         { <text>up</text>}
                                                                                                                                                                                                                                                                                                                                                       else if (Model.SortDirection == 0 && Model.SortColumn == 1)
                                                                                                                                                                                                                                                                                                                                                                         { <text>down</text>}">销量</a></dd>
    <dd><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 2 }, { "sortDirection", Model.SortDirection == 0 ? 1 : 0 }, { "page", 1 } })" class="@if (Model.SortColumn == 2)
                                                                                                                                                                                                                                                                                                                               { <text>current</text>} @if (Model.SortDirection == 1 && Model.SortColumn == 2)
                                                                                                                                                                                                                                                                                                                                                                         { <text>up</text>}
                                                                                                                                                                                                                                                                                                                                                       else if (Model.SortDirection == 0 && Model.SortColumn == 2)
                                                                                                                                                                                                                                                                                                                                                                         { <text>down</text>}">价格</a></dd>
    <dd><a href="@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", 3 }, { "sortDirection", Model.SortDirection == 0 ? 1 : 0 }, { "page", 1 } })" class="@if (Model.SortColumn == 3)
                                                                                                                                                                                                                                                                                                                               { <text>current</text>} @if (Model.SortDirection == 1 && Model.SortColumn == 3)
                                                                                                                                                                                                                                                                                                                                                                     { <text>up</text>}
                                                                                                                                                                                                                                                                                                                                                       else if (Model.SortDirection == 0 && Model.SortColumn == 3)
                                                                                                                                                                                                                                                                                                                                                                     { <text>down</text>}">评价</a></dd>
    <div class="clear"></div>
</dl>


<div class="orderPage">
    <span class="ProNB">共 @Model.PageModel.TotalCount 个商品</span>
    <span class="orderPageNB"><b>@if(Model.PageModel.TotalPages>0){@Model.PageModel.PageNumber}else{<text>0</text>}</b>/@Model.PageModel.TotalPages</span>
    @if (Model.PageModel.HasPrePage)
    { 
        <a href = "@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", Model.SortColumn }, { "sortDirection", Model.SortDirection }, { "page", Model.PageModel.PrePageNumber } })">&lt;</a>
    }
    else
    {
        <a href="javascript:;">&lt;</a>
    }
    @if (Model.PageModel.HasNextPage)
    {
        <a href = "@Url.Action("search", new RouteValueDictionary { { "keyword", Model.Word }, { "filterAttr", Model.FilterAttr }, { "cateId", Model.CateId }, { "brandId", Model.BrandId }, { "filterPrice", Model.FilterPrice }, { "onlyStock", 0 }, { "sortColumn", Model.SortColumn }, { "sortDirection", Model.SortDirection }, { "page", Model.PageModel.NextPageNumber } })">&gt;</a>
    }
    else
    {
        <a href="javascript:;">&gt;</a>
    } 
    <div class="clear"></div>
</div>

</div>
    @{
        string pids = string.Join(",",Model.ProductList.Select(x=>x.Pid));
        List<SinglePromotionInfo> lsit = Promotions.GetVailiSingleListByPidsAndendTime(pids, DateTime.Now);
        }

    
<div class="proList">

<ul>
     @{int k = 1;}
    @foreach (StoreProductInfo info in Model.ProductList)
    {
        bool ZJDiscount = false;
        bool TJDiscount = false;
        bool ZKJDiscount = false;
        bool ZHJDiscount = false; 
        SinglePromotionInfo singleInfo = lsit.Find(x => x.Pid == info.Pid);
        if (singleInfo != null)
        {
            if (singleInfo.DiscountType == 1 && singleInfo.StartTime1 < DateTime.Now)
            {
                ZJDiscount = true;
            }
            if (singleInfo.DiscountType == 5 && singleInfo.StartTime1 < DateTime.Now)
            {
                TJDiscount = true;
            }
            if (singleInfo.DiscountType == 0 && singleInfo.StartTime1 < DateTime.Now)
            {
                ZKJDiscount = true;
            }
            if (singleInfo.DiscountType == 2 && singleInfo.StartTime1 < DateTime.Now)
            {
                ZHJDiscount = true;
            }
        }
        
        <li @(k % 4 == 0 ? "style='padding-right:0;'" : "")>
            <a href="@Url.Action("product", new RouteValueDictionary { { "pid", info.Pid } })" target="_blank" >
                <img src="/upload/store/@info.StoreId/product/show/thumb230_230/@info.ShowImg" width="222" height="222" onerror="src='/images/230.jpg'"/><em >@info.Name 
                    @if (ZJDiscount || TJDiscount || TJDiscount)
                    {
                        <i class="salewarn">降</i>
                    }
                    @if (ZHJDiscount)
                    {
                        <i class="salewarn" style="width:26px;">促销</i>
                    } 
                                                                                                                                                         </em> 
                 @if (ZJDiscount){<i class="salecut"></i>}
                @if (TJDiscount)
                            {<i class="tjsale"></i>
                 }
                             @if (ZKJDiscount)
                            {<i class="zkjsale"></i>
                 }
                @if (DateTime.Now < new DateTime(2017, 3, 9) && (info.Pid == 562 || info.Pid == 1437 || info.Pid == 1638 || info.Pid == 2828 || info.Pid == 2484 || info.Pid == 2748 || info.Pid == 2488 || info.Pid == 2796 || info.Pid == 2746))
                {
                <i id="chaozhi_99_2"></i>
                }
            </a>
            @if (ZJDiscount )
            {
                <b>¥@(info.ShopPrice-singleInfo.DiscountValue)</b>
                <b @(ZJDiscount?"style='color:#9C9A9C'":"")><del>¥@info.ShopPrice</del></b>
            }
            else if (TJDiscount)
            {
                <b>¥@(singleInfo.DiscountValue)</b>
                <b @(TJDiscount?"style='color:#9C9A9C'":"")><del>¥@info.ShopPrice</del></b>
            }
            else if (ZKJDiscount)
            {
                <b>¥@(((double)(info.ShopPrice*singleInfo.DiscountValue)/10.00).ToString("f2"))</b>
                <b @(ZKJDiscount?"style='color:#9C9A9C'":"")><del>¥@info.ShopPrice</del></b>
            }
            else if (ZHJDiscount)
            {
                <b>¥@(singleInfo.DiscountValue)</b>
                <b @(ZHJDiscount?"style='color:#9C9A9C'":"")><del>¥@info.ShopPrice</del></b>
            }
            else{
            <b >¥@info.ShopPrice</b>}
            @*<div class="info">
                <div class="star"><span class="star_yellow" style=" width:@Html.Raw((info.GetStarLevel()*20).ToString())%;">&nbsp;</span></div>
                <a href="#">已有 @info.ReviewCount 人评价</a> 
            </div>*@
            <div class="info2">
                <span onclick="addProductToFavorite(@info.Pid)" class="addFav">加入收藏</span>
                @*<span onclick="addProductToCart(@info.Pid, @(info.MinBuyCount>0?info.MinBuyCount:1))" class="addShopping">加入购物车</span>*@
                <span  class="addShopping"><a href="@Url.Action("Product", new { pid=info.Pid})">去购买</a></span>
            </div>
        </li>
        k++;
    }
    <div class="clear"></div>
</ul>

@Html.WebPager(Model.PageModel)

</div>

</div>
<div class="clear"></div>
</div>






