@model VMall.Web.MallAdmin.Models.HelpListModel
@{
    Layout = "~/admin_mall/views/shared/_layout_adminlte.cshtml";
}
@section header{
    <title>帮助列表</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    @*<script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>*@
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
    <link href="/admin_mall/content/jbox/Skins/Default/jbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
}

@section body{
    <h1 class="rightH1">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="#">帮助管理</a></li>
            <li class="active">帮助列表</li>
        </ol>

        <div class="right">
            <a href="@Url.Action("addhelp")" class="btn btn-primary btn-sm border-radius-lg">
                <i class="fa fa-plus-circle fa-lg"></i>添加帮助</a>
            <a href="@Url.Action("addhelpcategory")" class="btn btn-primary btn-sm border-radius-lg">
                <i class="fa fa-plus-circle fa-lg"></i>添加帮助分类</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    <!-- Main content -->

    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>排序</th>
                                    <th>管理操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (HelpInfo info in Model.HelpList)
                                {
                                    <tr>
                                        <td>
                                            @if (info.Pid == 0)
                                            {
                                                @:&nbsp;&nbsp;&nbsp;&nbsp;@info.Title
        }
                                            else
                                            {
                                                @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@info.Title
        }
                                        </td>
                                        <td align="center">
                                            <input type="text" url="@Url.Action("UpdateHelpDisplayOrder", new { id = info.Id })" value="@info.DisplayOrder" class="sortinput unselectedsortinput" />
                                        </td>
                                        <td>
                                            @{
                                            if (info.Pid == 0)
                                            {
                                                @Html.ActionLink("[编辑]", "edithelpcategory", new { id = info.Id }, new { @class = "editOperate" }) 
                                            }
                                            else
                                            {
                                                @Html.ActionLink("[编辑]", "edithelp", new { id = info.Id }, new { @class = "editOperate" }) 
            
                                            }
                                            }
                                            @Html.ActionLink("[删除]", "del", new { id = info.Id }, new { @class = "deleteOperate" })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    <!-- /.content -->

    <div class="table_bottom">
    </div>

}