@model VMall.Web.MallAdmin.Models.SinglePromotionModel
@section header{
    <title>添加单品促销</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="/admin_mall/content/my97datepicker/WdatePicker.js"></script>
    <link href="/admin_mall/content/jbox/Skins/Default/jbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/selectlist.js?v=10"></script>
    <style>
        .tidudiscount {
        display:none;}
    </style>
    <script type="text/javascript">
        var discountType = @Model.DiscountType;
        var isStock = @Model.IsStock;
        $(function () {
            if (discountType == 0||discountType==4) {
                $("#discountunit").html("折");
            }
            else {
                $("#discountunit").html("元");
            }
            if(discountType==7){
                $(".tidudiscount").show();
            }
            if(discountType!=5){
                $(".warnmsg").hide();  
            }
            if (isStock == 0) {
                $("#stockTr").hide();
            }
            else {
                $("#stockTr").show();
            }

            $("#DiscountType").click(function () {
                if ($(this).val() == 0||$(this).val() == 4) {
                    $("#discountunit").html("折");
                }
                else {
                    $("#discountunit").html("元");
                }
                if($(this).val() == 3){
                    $(".isshow").show();
                }else{ 
                    $(".isshow").hide();
                }
                if($(this).val() == 5){
                    $(".warnmsg").show();
                }else{ 
                    $(".warnmsg").hide();
                }
                if($(this).val() == 7){
                    $(".tidudiscount").show();
                    $("#DiscountValue").hide();
                    $("#discountunit").hide();
                }else{ 
                    $(".tidudiscount").hide();
                    $("#DiscountValue").show();
                    $("#discountunit").show();
                }
            })

            $("input[name=IsStock]").click(function () {
                if ($(this).val() == 0) {
                    $("#stockTr").hide();
                }
                else {
                    $("#stockTr").show();
                }
            })
        })
    </script>
}

@section body{
    <h1 class="rightH1">单品促销 &gt;&gt; 添加促销
        <div class="right">
            <a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT">
                <img src="/admin_mall/content/images/goback.jpg" />返回列表</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>

    @using (Html.BeginForm())
    {
        <div class="addTable">
            <table width="100%">
                <tr>
                    <td width="130px" align="right">商品编号：</td>
                    <td>
                        <div class="selectBt">
                            <input type="button" value="选择商品" onclick="openProductSelectLayer(this,0)" />
                            <input type="hidden" class="Pid" id="Pid" name="Pid" value="0" />
                            <input type="hidden" class="ProductName" id="ProductName" name="ProductName" value="选择商品" />
                        </div>
                        @* @Html.TextBoxFor(x => x.Pid, new { @class = "input", size = "30" })@Html.ValidationMessageFor(x => x.Pid)*@

                    </td>
                </tr>
                <tr>
                    <td align="right">活动名称：</td>
                    <td>@Html.TextBoxFor(x => x.PromotionName, new { @class = "input", size = "70" })@Html.ValidationMessageFor(x => x.PromotionName)</td>
                </tr>
                <tr>
                    <td align="right">活动标语：</td>
                    <td>@Html.TextBoxFor(x => x.Slogan, new { @class = "input", size = "70" })@Html.ValidationMessageFor(x => x.Slogan)</td>
                </tr>


                <tr>
                    <td align="right">活动时间1：</td>
                    <td>

                        @Html.TextBoxFor(x => x.StartTime1, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'StartTime1'})" })
                        至
        @Html.TextBoxFor(x => x.EndTime1, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'EndTime1'})" })
                        @Html.ValidationMessageFor(x => x.StartTime1)
                        @Html.ValidationMessageFor(x => x.EndTime1)

                    </td>
                </tr>
                <tr>
                    <td align="right">活动时间2：</td>
                    <td>

                        @Html.TextBoxFor(x => x.StartTime2, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'StartTime2'})" })
                        至
        @Html.TextBoxFor(x => x.EndTime2, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'EndTime2'})" })
                        @Html.ValidationMessageFor(x => x.StartTime2)
                        @Html.ValidationMessageFor(x => x.EndTime2)

                    </td>
                </tr>
                <tr>
                    <td align="right">活动时间3：</td>
                    <td>

                        @Html.TextBoxFor(x => x.StartTime3, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'StartTime3'})" })
                        至
        @Html.TextBoxFor(x => x.EndTime3, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'EndTime3'})" })
                        @Html.ValidationMessageFor(x => x.StartTime3)
                        @Html.ValidationMessageFor(x => x.EndTime3)

                    </td>
                </tr>
                <tr>
                    <td align="right">促销方式：</td>
                    <td>

                        @Html.DropDownListFor(x => x.DiscountType, ViewData["discountTypeList"] as List<SelectListItem>)
                        &nbsp;&nbsp;&nbsp;
                        
        @Html.TextBoxFor(x => x.DiscountValue, new { @class = "input", size = "18" })<span id="discountunit">折</span>
                        @Html.ValidationMessageFor(x => x.DiscountType)
                        @Html.ValidationMessageFor(x => x.DiscountValue)
                        <span style="color: red;" class="warnmsg">*</span>
                    </td>
                </tr>
                <tr class="tidudiscount">
                    <td align="right">梯度优惠1：</td>
                    <td>大于 @Html.TextBoxFor(x => x.Amount1, new { @class = "input", size = "18" }) 件，
                        价格：@Html.TextBoxFor(x => x.Discount1, new { @class = "input", size = "18" })
                        @Html.ValidationMessageFor(x => x.Amount1)
                        @Html.ValidationMessageFor(x => x.Discount1)

                    </td>
                </tr>
                <tr class="tidudiscount">
                    <td align="right">梯度优惠2：</td>
                    <td>大于 @Html.TextBoxFor(x => x.Amount2, new { @class = "input", size = "18" }) 件，
                        价格：@Html.TextBoxFor(x => x.Discount2, new { @class = "input", size = "18" })
                        @Html.ValidationMessageFor(x => x.Amount2)
                        @Html.ValidationMessageFor(x => x.Discount2)

                    </td>
                </tr>
                <tr class="tidudiscount">
                    <td align="right">梯度优惠3：</td>
                    <td>大于 @Html.TextBoxFor(x => x.Amount3, new { @class = "input", size = "18" }) 件，
                        价格：@Html.TextBoxFor(x => x.Discount3, new { @class = "input", size = "18" })
                        @Html.ValidationMessageFor(x => x.Amount3)
                        @Html.ValidationMessageFor(x => x.Discount3)

                    </td>
                </tr>
                <tr class="tidudiscount">
                    <td align="right">梯度优惠4：</td>
                    <td>大于 @Html.TextBoxFor(x => x.Amount4, new { @class = "input", size = "18" }) 件，
                        价格：@Html.TextBoxFor(x => x.Discount4, new { @class = "input", size = "18" })
                        @Html.ValidationMessageFor(x => x.Amount4)
                        @Html.ValidationMessageFor(x => x.Discount4)

                    </td>
                </tr>
                <tr class="tidudiscount">
                    <td align="right">梯度优惠5：</td>
                    <td>大于 @Html.TextBoxFor(x => x.Amount5, new { @class = "input", size = "18" }) 件，
                        价格：@Html.TextBoxFor(x => x.Discount5, new { @class = "input", size = "18" })
                        @Html.ValidationMessageFor(x => x.Amount5)
                        @Html.ValidationMessageFor(x => x.Discount5)

                    </td>
                </tr>
                <tr>
                    <td align="right">限制用户等级：</td>
                    <td>@Html.DropDownListFor(x => x.UserRankLower, ViewData["userRankList"] as List<SelectListItem>) @Html.ValidationMessageFor(x => x.UserRankLower)</td>
                </tr>

                <tr>
                    <td align="right">赠送优惠劵：</td>
                    <td>
                        <div class="selectBt">
                            <input type="button" value="选择优惠券" onclick="openCouponSelectLayer(this)" />
                            <input type="hidden" class="CouponTypeId" id="CouponTypeId" name="CouponTypeId" value="0" />
                            <input type="hidden" class="CouponTypeName" id="CouponTypeName" name="CouponTypeName" value="选择优惠券" />
                        </div>
                        @* @Html.TextBoxFor(x => x.CouponTypeId)
                        @Html.ValidationMessageFor(x => x.CouponTypeId)*@
                    </td>
                </tr>
                <tr>
                    <td align="right">是否限购：
                    </td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.IsStock, 1, new { @class = "checkbox" }) 是</label>
                            <label>@Html.RadioButtonFor(x => x.IsStock, 0, new { @class = "checkbox" }) 否</label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr id="stockTr">
                    <td align="right">限购库存：</td>
                    <td>@Html.TextBoxFor(x => x.Stock, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.Stock)</td>
                </tr>
                <tr>
                    <td align="right">单笔订单最小购买：</td>
                    <td>@Html.TextBoxFor(x => x.QuotaLower, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.QuotaLower)</td>
                </tr>
                <tr>
                    <td align="right">单笔订单最大购买：</td>
                    <td>@Html.TextBoxFor(x => x.QuotaUpper, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.QuotaUpper)</td>
                </tr>
                @*<tr>
                    <td align="right">赠送积分：</td>
                    <td>@Html.TextBoxFor(x => x.PayCredits, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.PayCredits)</td>
                </tr>*@

                <tr>
                    <td align="right">会员最大购买数(累计)：
                    </td>
                    <td>@Html.TextBoxFor(x => x.AllowBuyCount, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.AllowBuyCount)</td>
                </tr>
                <tr>
                    <td align="right">活动状态：
                    </td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.State, 1, new { @class = "checkbox" })启动</label>
                            <label>@Html.RadioButtonFor(x => x.State, 0, new { @class = "checkbox" })暂停</label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr class="hide">
                    <td align="right">促销@(MallKey.MallCoin)：
                    </td>
                    <td>@Html.TextBoxFor(x => x.PromoHaiMi, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.PromoHaiMi)</td>
                </tr>
                <tr class="hide">
                    <td align="right">促销PV：
                    </td>
                    <td>@Html.TextBoxFor(x => x.PromoPV, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.PromoPV)</td>
                </tr>
                <tr class="hide">
                    <td align="right">促销红包减免：
                    </td>
                    <td>@Html.TextBoxFor(x => x.PromoHongBaoCut, new { @class = "input", size = "8" })@Html.ValidationMessageFor(x => x.PromoHongBaoCut)</td>
                </tr>
                <tr class="isshow" style="display: none;">
                    <td align="right">是否在秒杀列表显示：
                    </td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.IsShow, 1, new { @class = "checkbox" })是</label>
                            <label>@Html.RadioButtonFor(x => x.IsShow, 0, new { @class = "checkbox" }) 否 </label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>
                        <a href="" class="addBt" id="sumbitBut">
                            <img src="/admin_mall/content/images/submit.jpg" /></a>
                        <script type="text/javascript">
                            $(function () {
                                $("#sumbitBut").click(function () {
                                    $("form:first").submit();
                                    return false;
                                })
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    }
}