@model VMall.Web.MallAdmin.Models.GiftPromotionListModel
@{
    Layout = "~/admin_mall/views/shared/_layout_adminlte.cshtml";
}
@section header{
    <title>赠品促销列表</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin_mall/content/jbox/Skins/Default/jbox.css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/admin_mall/content/my97datepicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/selectlist.js"></script>
}
@section body{
    <h1 class="rightH1">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="#">促销活动</a></li>
            <li class="active">买赠促销</li>
        </ol>

        <div class="right">
            <a href="@Url.Action("addgiftpromotion")" class="btn btn-primary btn-sm border-radius-lg">
                <i class="fa fa-plus-circle fa-lg"></i>添加</a>
            <div class="clear"></div>
        </div>
        <div class="clear">
        </div>
    </h1>

    @using (Html.BeginForm())
    {
    
        <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
        <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
      
        <section class="content-search">
            <div class="row">
                <div class="col-xs-12">
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>商品店铺：</label>
                                <div class="selectBtn btn-default">
                                    <input type="button" value="@Model.StoreName" onclick="openStoreSelectLayer(this)" class="form-control selectBtn-ipt"/>
                                    <input type="hidden" class="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" />
                                    <input type="hidden" class="StoreName" id="StoreName" name="StoreName" value="@Model.StoreName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>活动商品Id：</label>
                                @Html.TextBox("Pid", Model.Pid, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>活动名称：</label>
                                @Html.TextBox("PromotionName", Model.PromotionName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>活动时间：</label>
                                @Html.TextBox("PromotionTime", Model.PromotionTime, new { @class = "form-control", onclick = "WdatePicker({el:'PromotionTime'})" })
                            </div>
                            <div class="form-group">
                                <button type="button" id="SearchProduct" name="SearchProduct" class="btn btn-default  searchBut submit"><i class="fa fa-search"></i>搜索</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        
        <!-- Main content -->

        <section class="content">
            <div class="row">
                <div class="col-xs-10">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="allSelect" /></th>
                                        <th>店铺名称</th>
                                        <th>活动名称</th>
                                        <th>商品名称</th>
                                        <th>状态</th>
                                        <th>管理操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in Model.GiftPromotionList.Rows)
                                    {
                                        <tr>
                                            <td align="center">
                                                <input type="checkbox" value="@row["pmid"]" selectItem="true" name="pmIdList"/></td>
                                            <td>@row["sname"]</td>
                                            <td>@row["name"]</td>
                                            <td>@row["pname"]</td>
                                            <td>
                                                @if (row["state"].ToString() == "0")
                                                {
                                                    @:暂停
                            }
                                                else
                                                {
                                                    @:开启
                            }
                                            </td>
                                            <td>
                                                @Html.ActionLink("[赠品列表]", "giftlist", new { pmId = row["pmid"] }, new { @class = "editOperate" })
                                                @Html.ActionLink("[编辑]", "editgiftpromotion", new { pmId = row["pmid"] }, new { @class = "editOperate" })
                                                @Html.ActionLink("[删除]", "delgiftpromotion", new { pmIdList = row["pmid"] }, new { @class = "deleteOperate" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

        <!-- /.content -->
    
        <div class="dataListEdit">
            <a href="#" delUrl="@Url.Action("delgiftpromotion")" class="batch batchDel">批量删除</a>
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
}
