@model VMall.Web.MallAdmin.Models.CodeTypeListModel

@section header{
<title>兑换码类型列表</title>
<link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css"/>
<script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
<script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
<link rel="stylesheet" type="text/css"  href="/admin_mall/content/jbox/Skins/Default/jbox.css"/>
<script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
<script type="text/javascript" src="/admin_mall/scripts/selectlist.js"></script>
}

@section body{
<h1 class="rightH1">
兑换码管理 &gt;&gt; 类型列表
<div class="right">
<a href="@Url.Action("addexchangecoupon")" class="menuBT"><img src="/admin_mall/content/images/add.jpg"/>添加兑换码</a>
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
@using (Html.BeginForm("codetypelist", "exchangecoupon"))
{

<div class="dataListSearch">
<table height="32">
        <tbody>
        <tr>
        <td width="35"><img id="searchImg" src="/admin_mall/content/images/search1.gif"/></td>
        @*<td>商品店铺：</td>
        <td width="100">
        <div class="selectBt">
            <input type="button" value="@Model.StoreName" onclick="openStoreSelectLayer(this)"  style="height:22px; line-height:22px;background:url(/admin_mall/content/images/selectbgico.gif) no-repeat 6px center; padding-left:22px; padding-right:10px;"/>
            <input type="hidden" class="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" />
            <input type="hidden" class="StoreName" id="StoreName" name="StoreName" value="@Model.StoreName" />
        </div>
        </td>
        <td>筛选分类：</td>
        <td width="50">@Html.DropDownListFor(x => x.Type, ViewData["typeList"] as List<SelectListItem>)</td>*@
        <td>&nbsp;&nbsp;&nbsp;&nbsp;类型名称：</td>
        <td width="130">@Html.TextBox("CodeTypeName", Model.CodeTypeName, new { height = "18" })</td>
       <td>
       <input id="SearchCouponType" name="SearchCouponType" type="image" class="searchBut submit" src="/admin_mall/content/images/s.jpg" />
       </td>
      </tr>
     </tbody></table>
</div>

<div class="dataList">
<table width="100%">
<thead>
  <tr>
    <th width="40" align="center"><input type="checkbox" id="allSelect"/></th>
   
    <th align="left" >兑换码名称</th>
   
   
    <th width="290" align="left">管理操作</th>
    </tr>
</thead>
  <tbody>
  @foreach (DataRow row in Model.CodeTypeList.Rows)
  {
  <tr>
    <td align="center"><input type="checkbox" value="@row["codetypeid"]" selectItem="true" name="couponTypeIdList"/></td>
    
    <td>@row["name"]</td>
    
   
    <td>
        @Html.ActionLink("[查看]", "showcodetype", new { codeTypeId = row["codetypeid"] }, new { @class = "editOperate" })
        @if (row["state"].ToString() == "0")
        {
        @Html.ActionLink("[打开]", "changecodetypestate", new { codeTypeId = row["codetypeid"], state = 1 }, new { @class = "editOperate" })
        }
        else
        {
        @Html.ActionLink("[关闭]", "changecodetypestate", new { codeTypeId = row["codetypeid"], state = 0 }, new { @class = "editOperate" })
        }
       @* @Html.ActionLink("[删除]", "delcodetype", new { codeTypeIdList = row["codetypeid"] }, new { @class = "deleteOperate" })*@
        @Html.ActionLink("[兑换码列表]", "exchangecouponlist", new { codeTypeId = row["codetypeid"] }, new { @class = "editOperate" })
        @if (row["limitproduct"].ToString() == "1")
        {
        @Html.ActionLink("[商品列表]", "codeproductlist", new { codeTypeId = row["codetypeid"] }, new { @class = "editOperate" })
        }
        @*@if (row["sendmode"].ToString() == "1")
        {
        @Html.ActionLink("[发放]", "sendcode", new { codeTypeId = row["codetypeid"] }, new { @class = "editOperate" })
        }*@
    </td>
    </tr>
  }
</tbody>
</table>
</div>
         <div class="dataListEdit">
    <a href="#" delUrl="@Url.Action("delcodetype")" class="batch batchDel">批量删除</a>
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
}
}