@model VMall.Web.Mobile.Models.AgentStockDetailModel
@{int k = 1 + (Model.PageModel.PageNumber - 1) * Model.PageModel.PageSize;}
@foreach (var info in Model.DetailList)
{
    <tr>
        <td>@k</td>
        <td>@info.CreationDate.ToString("yyyy-MM-dd HH:mm")</td>
        @*<td>@info.Uid</td>*@
        <td>@if (info.InAmount > 0)
            { 
            @:收入
                                }
            @if (info.OutAmount > 0)
            {
                @:支出
                                }</td>
        <td>@if (info.InAmount > 0)
            { 
            @("+" + info.InAmount.ToString("f2"))
            }
            @if (info.OutAmount > 0)
            {
                @("-" + info.OutAmount.ToString("f2"))
            }</td>
        <td>@info.CurrentBalance</td>
        @* <td>@info.OrderCode </td>*@
        <td>@info.DetailDesc </td>

    </tr>
            k++;
}
<script>
    detailhasNextPage = @Model.PageModel.HasNextPage.ToString().ToLower();
</script>
