@model VMall.Web.Mobile.Models.AgentStockModel
@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "库存查询";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 0;
}
<link href="@{@WorkContext.CSSCDN}/mobile/css/account.css" rel="stylesheet" type="text/css" />
<link href="@{@WorkContext.CSSCDN}/mobile/css/ucenter.css" rel="stylesheet" type="text/css" />
<script src="@{@WorkContext.ScriptCDN}/mobile/scripts/account.js?dddd" type="text/javascript"></script>
<style>
    .viewport {
    width: 600px;
    max-width: 800px;
    /* margin: 0 auto; */
    }
    table tr {
        height: 35px;
        line-height: 35px;
    }
    table th { font-size:14px;
    }
    table td {
        border: 1px solid #fff;
        text-align:center;
        font-size:12px;
    }
    table tr:nth-child(odd) {
        background: #F1F1F5;
    }
    .sendlist {
    margin:20px 0;
    font-size:20px;font-weight:bold;
    }
    .operate {
    text-decoration:underline;color:blue;}
</style>
<script>
    function waitUpdate() {
        alert("等待更新");
    }
</script>
<div class="myAssetsNav">
    <a href="@Url.Action("myagent")" ><strong>我的代理</strong></a>
    <a href="javascript:void(0);" class="hot"><strong>库存查询</strong></a>
    <a href="@Url.Action("incomewithdraw")"><strong>代理提现</strong></a>
    <a href="@Url.Action("CommissionWithDraw")" ><strong>佣金提现</strong></a>
</div>
<div class="myAssetsCon">
    <table width="100%" border="0" cellspacing="0" class="dingdan">
        <tbody>
            <tr style="background: #DCDCDC;">
            <th  width="30%" valign="bottom">商品信息</th>
            <th  width="10%">库存数量</th>
            <th  width="10%">库存金额</th>
            <th  width="20%">操作</th>
            </tr>
            @foreach (DataRow row in Model.AgentStockList.Rows)
            {
                <tr>
                    <td>
                        <div class="proList">
                            <img src="/upload/store/@row["storeid"]/product/show/thumb60_60/@row["showimg"]" width="50" height="50" style="    margin: 5px;"/>
                         
                            <a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", row["pid"] } })">@row["name"]<br />
                            </a>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>@row["balance"]<br />
                    
                    </td>
                    <td>@row["agentamount"]<br /></td>
                    <td><a href="@Url.Action("GetStockDetail", new { pid = row["pid"] })" class="operate">查看详情</a>
                        <br />
                        <a href="@Url.Action("AddSendOrder", new { pid = row["pid"] })" class="operate">生成要货单</a>
                         <br />
                         @{decimal a = TypeHelper.ObjectToDecimal(row["balance"]) - TypeHelper.ObjectToInt(row["balance"]);}
                    @if (a>0) { 
                     <a href="javascript:waitUpdate();" class="operate">补足差额</a>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span style="color:#808080;margin-top:10px;display: inline-block;">1.库存数量由于存在调换货，会存在一定尾数计数误差
        <br />
        2.库存数量不为整数时，库存数量非整数部分不可用，补足余额成整数件后可以使用
    </span>
    <h2 class="sendlist">要货单列表 </h2>

    <table width="100%" border="0" cellspacing="0" class="dingdan">
        <thead>
            <tr>
                <th width="35%" valign="bottom">要货单号</th>
                <th width="20%" valign="bottom">订单产品</th>
                <th width="15%">时间</th>
                <th width="10%">状态</th>
                <th width="15%">详情</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.SendOrderList.Rows)
            {
                <tr>
                    <td valign="bottom">@row["sendosn"]<br />
                         @{  RegionInfo region = Regions.GetRegionById(TypeHelper.ObjectToInt(row["regionid"]));}

                                @row["consignee"] &nbsp;&nbsp;@row["mobile"]
                                <br />
                                @if (region != null)
                                {
                                    @region.ProvinceName @region.CityName @region.Name @row["address"]
                                }
                                else
                                {
                                    @row["address"]
                                }
                    </td>
                    <td valign="bottom">
                        <a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", row["pid"] } })">@row["name"]</a>
                        <br />
                        数量：@row["sendcount"]
                        @*<div class="proList">
                            <img src="/upload/store/@row["storeid"]/product/show/thumb60_60/@row["showimg"]" width="50" height="50" /><br />
                            <a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", row["pid"] } })">@row["name"]<br />
                            </a>
                            <div class="clear"></div>
                        </div>*@
                    </td>
                    <td>@row["creationdate"]</td>
                   
                    <td>
                        @if (row["sendstate"].ToString() == "1")
                        { 
                            @:已发货
                        }
                        else
                        {
                            @:未发货
                        }

                    </td>
                    <td>
                        @row["shipsn"]
                        <br />
                        @row["shipconame"]
                        <br />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



