@model VMall.Web.MallAdmin.Models.ProductStatModel
@{
    Layout = "~/admin_mall/views/shared/_layout_adminlte.cshtml";
}
@section header{
    <title>商品统计</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin_mall/content/jbox/Skins/Default/jbox.css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/selectlist.js"></script>
    <script>
        function output() {
            var StoreId = $("#StoreId").val();
            var CateId = $("#CateId").val();
            var BrandId = $("#BrandId").val();
            var Pid = $("#Pid").val();
            var ProductName = $.trim($("#ProductName").val());
            var State = 0;
            window.open("/malladmin/Stat/OutPutList?StoreId=" + StoreId + "&CateId=" + CateId + "&BrandId=" + BrandId + "&ProductName=" + ProductName);
        }
        function search() {
            $("form").submit();
        }

    </script>
}

@section body{
    <h1 class="rightH1">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="#">报表统计</a></li>
            <li class="active">商品统计</li>
        </ol>

        <div class="right">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm())
    {
    
        <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
        <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />

        <section class="content-search">
            <div class="row">
                <div class="col-xs-12">
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="form-inline">

                            <div class="form-group">
                                <label>商品店铺：</label>
                                <div class="selectBtn btn-default">
                                    <input type="button" value="@Model.StoreName" onclick="openStoreSelectLayer(this)" class="form-control selectBtn-ipt"/>
                                    <input type="hidden" class="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" />
                                    <input type="hidden" class="StoreName" id="StoreName" name="StoreName" value="@Model.StoreName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>商品分类：</label>
                                <div class="selectBtn btn-default">
                                    <input type="button" value="@Model.CategoryName" onclick="openCategorySelectLayer(this)" class="form-control selectBtn-ipt"/>
                                    <input type="hidden" class="CateId" id="CateId" name="CateId" value="@Model.CateId" />
                                    <input type="hidden" class="CategoryName" id="CategoryName" name="CategoryName" value="@Model.CategoryName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>商品品牌：</label>
                                <div class="selectBtn btn-default">
                                    <input type="button" value="@Model.BrandName" onclick="openBrandSelectLayer(this)" class="form-control selectBtn-ipt"/>
                                    <input type="hidden" class="BrandId" id="BrandId" name="BrandId" value="@Model.BrandId" />
                                    <input type="hidden" class="BrandName" id="BrandName" name="BrandName" value="@Model.BrandName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>商品名称：</label>
                                @Html.TextBox("ProductName", Model.ProductName, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <button type="button" id="SearchProduct" name="SearchProduct" class="btn btn-default  searchBut submit"><i class="fa fa-search"></i>搜索</button>
                                <button type="button" id="ExportOrder" name="ExportOrder" class="btn btn-default  searchBut submit" onclick="output();"><i class="fa fa-download"></i>导出</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        
        <!-- Main content -->

        <section class="content">
            <div class="row">
                <div class="col-xs-10">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>商品ID</th>
                                        <th>商品名称</th>
                                        <th>商品货号</th>
                                        <th>商品价格</th>
                                        @*<th>商品PV</th>*@
                        <th>商品@(MallKey.MallCoin)</th>
                                        <th name="sortTitle" column="reviewcount" direction="DESC">评价数量</th>
                                        <th name="sortTitle" column="visitcount" direction="DESC">访问数量</th>
                                        <th name="sortTitle" column="salecount" direction="DESC">购买数量</th>
                                        <th>访问购买率</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in Model.ProductList.Rows)
                                    {
                                        <tr>
                                            <td>@row["pid"]</td>
                                            <td>@row["name"]</td>
                                            <td>@row["psn"]</td>
                                            <td>@row["shopprice"]</td>
                                            @*<td>@TypeHelper.ObjectToDecimal(row["pv"]).ToString("0.00")</td>*@
                                            <td>@TypeHelper.ObjectToDecimal(row["haimi"]).ToString("0.00")</td>
                                            <td align="center">
                                                @{var reviewcount = ProductReviews.GetProductReviewCount(TypeHelper.ObjectToInt(row["pid"]), 0);}
                                                @reviewcount

                                            </td>
                                            <td align="center">@row["visitcount"]</td>
                                            <td align="center">@row["salecount"]</td>
                                            @if ((int)row["visitcount"] != 0)
                                            {
@*<td align="center">@Math.Round((decimal)((int)row["salecount"] / (int)row["visitcount"]), 2)%</td>*@
                                                <td align="center">@Math.Round(((TypeHelper.ObjectToDecimal(row["salecount"]) / TypeHelper.ObjectToDecimal(row["visitcount"])) * 100), 2)%  </td>
                                            }
                                            else
                                            { 
                                                <td align="center">0%  </td>
                                            }
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

        <!-- /.content -->

        <div class="dataListEdit">
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
}