@model VMall.Web.MallAdmin.Models.SaleListModel
@{
    Layout = "~/admin_mall/views/shared/_layout_adminlte.cshtml";
}
@section header{
    <title>销售明细</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    @*  <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>*@
    <script type="text/javascript" src="/admin_mall/content/my97datepicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
    <script>
        function output() {
            //var StoreId = $("#StoreId").val();
            //var CateId = $("#CateId").val();
            //var BrandId = $("#BrandId").val();
            //var Pid = $("#Pid").val();
            //var ProductName = $.trim($("#ProductName").val());
            //var State = 0;
            var startDate = $("#StartTime").val();
            var endDate = $("#EndDate").val();
            window.open("/malladmin/Stat/OutPutSaleList?startDate=" + startDate + "&endDate=" + endDate);
        }
    </script>
}

@section body{
    <h1 class="rightH1">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="#">报表统计</a></li>
            <li class="active">销售明细</li>
        </ol>
        <div class="right">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm())
    {

       <section class="content-search">
            <div class="row">
                <div class="col-xs-12">
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>开始时间：</label>
                                @Html.TextBox("StartTime", Model.StartTime, new { @class = "form-control", onclick = "WdatePicker({el:'StartTime'})" })
                            </div>
                            <div class="form-group">
                                <label>结束时间：</label>
                                @Html.TextBox("EndTime", Model.EndTime, new { @class = "form-control", onclick = "WdatePicker({el:'EndTime'})" })
                            </div>
                            <div class="form-group">
                                <button type="button" id="Search" name="Search" class="btn btn-default  searchBut submit">
                                    <i class="fa fa-search"></i>搜索</button>
                                 <button type="button" id="ExportOrder" name="ExportOrder" class="btn btn-default  searchBut submit" onclick="output();"><i class="fa fa-download"></i>导出</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                
        <!-- Main content -->

        <section class="content">
            <div class="row">
                <div class="col-xs-10">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th >订单编号</th>
                                        <th >商品名称</th>
                                        <th >商品货号</th>                                       
                                        <th >商品价格</th>
                                      @*  <th>商品PV</th>*@
                                        <th >商品@(MallKey.MallCoin)</th>
                                        <th >商品数量</th>
                                        <th >售出日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in Model.SaleProductList.Rows)
                                    {
                                        <tr>
                                            
                                            <td>@row["osn"]</td>
                                            <td>@row["name"]</td>
                                            <td>@row["psn"]</td>                                            
                                            <td>@row["shopprice"]</td>
                                           @* <td align="center">@row["productpv"]</td>*@
                                            <td align="center">@row["producthaimi"]</td>
                                            <td>@row["realcount"]</td>
                                            <td>@TypeHelper.ObjectToDateTime(row["addtime"]).ToString("yyyy-MM-dd HH:mm")</td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

        <!-- /.content -->

        <div class="dataListEdit">
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
}