@model VMall.Web.MallAdmin.Models.SaleResultModel
@{
    Layout = "~/admin_mall/views/shared/_layout_adminlte.cshtml";
}
@section header{
    <title>销售业绩报表</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/content/css/site.css" />
    <script type="text/javascript" src="/admin_mall/scripts/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/showlist.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin_mall/content/jbox/Skins/Default/jbox.css" />
    <script type="text/javascript" src="/admin_mall/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/selectlist.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/date.js"></script>
    <link rel="stylesheet" href="/admin_mall/content/css/multiple-select.css" />

    <script src="/admin_mall/scripts/multiple-select.js"></script>
    <script type="text/javascript">
        $(function () {
            if ($("#IsOutPut")) {
                $("#IsOutPut").val("0");
            }

            $(function () {
                $('#ms').change(function () {
                    console.log($(this).val());
                }).multipleSelect({
                    width: '100%',
                    placeholder: '选择订单状态',
                    selectAllText: '全部',
                    allSelected: '全部',
                    selectAll: true,
                    minimumCountSelected: 12,
                    onCheckAll: function () {
                        $("#OrderState").val($("#ms").multipleSelect("getSelects"));
                    },
                    onUncheckAll: function () {
                        $("#OrderState").val("0");
                    },
                    onClick: function (view) {
                        $("#OrderState").val($("#ms").multipleSelect("getSelects"));
                        //var eventResult = $("#eventResult").text();
                        //eventResult += view.value;
                        //$("#eventResult").text(view.label + '(' + view.value + ') ');
                        //$("#eventResult").text(view.label + '(' + view.value + ') ' +
                        // (view.checked ? 'checked' : 'unchecked'));
                    }
                });
            });
        });

        function output() {
            $("#IsOutPut").val("1");
            $("form").submit();
        }
        function search() {
            $("#IsOutPut").val("0");
            $("form").submit();
        }
    </script>
    <style>
        /*body {
        overflow:scroll;    overflow-x: scroll;
    width: 2000px;}*/

        .over-x {
            overflow-x: auto;
        }

        .dataList td {
            height: 30px;
            line-height: 30px;
        }
    </style>
}

@section body{
    <h1 class="rightH1">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="#">报表统计</a></li>
            <li class="active">销售业绩报表</li>
        </ol>
        <div class="right">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm("saleresult", "stat", FormMethod.Post, new { id = "mainForm", @class = "over-x" }))
    { 
        <input type="hidden" value="0" id="IsOutPut" name="IsOutPut" />
        <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
        <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
        
        <section class="content-search">
            <div class="row">
                <div class="col-xs-12">
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="form-inline">

                            <div class="form-group">
                                <label>商品店铺：</label>
                                <div class="selectBtn btn-default">
                                    <input type="button" value="@Model.StoreName" onclick="openStoreSelectLayer(this)" class="form-control selectBtn-ipt"/>
                                    <input type="hidden" class="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" />
                                    <input type="hidden" class="StoreName" id="StoreName" name="StoreName" value="@Model.StoreName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>订单编号：</label>
                                @Html.TextBox("OSN", Model.OSN, new { @class = "form-control" })
                            </div>

                            <div class="form-group" style="position: relative;">
                                <label>开始时间：</label>

                                @Html.TextBox("StartDate", Model.StartDate, new { @class = "form-control", onclick = "HS_setDate(this);"})
                            </div>
                            <div class="form-group" style="position: relative;">
                                <label>结束时间：</label>

                                @Html.TextBox("EndDate", Model.EndDate, new { @class = "form-control", onclick = "HS_setDate(this);"})
                            </div>
                            <div class="form-group">
                                <label>订单状态：</label>
                                <input type="hidden" class="OrderState" id="OrderState" name="OrderState" value="@Model.OrderState" />
                                <div  style="display: inline-block;width: 90px;">
                                    <select id="ms" multiple="multiple" class="">
                                        @foreach (var item in ViewData["orderStateList"] as List<SelectListItem>)
                                        {
                                            <option value="@item.Value" @(StringHelper.ArrayContainsForNum(item.Value, Model.OrderState) ? "selected='selected'" : "")>@item.Text</option> 
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>支付方式：</label>
                                @Html.DropDownListFor(x => x.PayName, ViewData["PayList"] as List<SelectListItem>, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <button type="button" id="SearchOrder" name="SearchOrder" class="btn btn-default  searchBut submit" onclick="search();"><i class="fa fa-search"></i>搜索</button>
                                <button type="button" id="ExportOrder" name="ExportOrder" class="btn btn-default  searchBut submit" onclick="output();"><i class="fa fa-download"></i>导出</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        

        <!-- Main content -->

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body" style="overflow-x: hidden; overflow-y: auto; width: 1800px; padding-right: 8px">
                            <table id="example2" class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>店铺</th>
                                        <th>订单时间</th>
                                        <th>订单编号</th>
                                        <th>会员编码</th>
                                        <th>会员手机</th>
                                        <th>会员姓名</th>
                                        <th>产品金额</th>
                                        <th>满减</th>
                                        <th>物流费</th>
                                        <th name="sortTitle" column="orderamount" direction="ASC">订单金额</th>
                                        <th>@(MallKey.MallDiscountName_JiangJin)抵扣</th>
                       @* <th>代理账户抵扣</th>*@
                                        <th>佣金账户抵扣</th>
                                        <th>@(MallKey.MallDiscountName_JiFen)减免</th>
                                        <th>优惠券抵扣</th>
                                        @*<th>汇购卡抵扣</th>*@
                                        <th>订单折扣</th>
                                        <th name="sortTitle" column="surplusmoney" direction="ASC">应付金额</th>
                                        <th >支付方式</th>
                                        <th >支付时间</th>
                                        <th >订单状态</th>
                                        @*<th >备注</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in Model.OrderList.Rows)
                                    {
                                        <tr>
                                            <td>@row["storename"]</td>
                                            <td>
                                                <div>@(TypeHelper.ObjectToDateTime(row["addtime"]).ToString("yyyy-MM-dd HH:mm:ss"))</div>
                                            </td>
                                            <td><a href="@Url.Action("orderinfo", "order", new { oid = row["oid"] })" class="btn-link">@row["osn"].ToString().Trim()</a></td>
                                            <td>@row["username"]</td>
                                            <td>@row["usermobile"]</td>
                                            <td>@row["realname"]</td>
                                            <td>@row["productamount"]</td>
                                            <td>@row["fullcut"]</td>
                                            <td>@row["shipfee"]</td>
                                            <td>@row["orderamount"]</td>
                                            @*<td>@row["haimidiscount"]</td>
                            <td>@row["agentdiscount"]</td>*@
                                            <td>@row["commisiondiscount"]</td>
                                            @*<td>@row["hongbaodiscount"]</td>*@
                                            <td>@row["couponmoney"]</td>
                                            @* <td>@row["cashdiscount"]</td>*@
                                            <td>@row["discount"]</td>
                                            <td>@row["surplusmoney"]</td>

                                            <td>@row["payfriendname"]</td>
                                            <td>
                                                <div>
                                                    <div>@(TypeHelper.ObjectToDateTime(row["paytime"]).ToString("yyyy-MM-dd HH:mm:ss"))</div>
                                            </td>
                                            <td>
                                                @switch ((OrderState)TypeHelper.ObjectToInt(row["orderstate"]))
                                                {
                                                    case OrderState.WaitPaying:
                                                    @:等待付款
            break;
                                                    case OrderState.Confirming:
                                                    @:待确认
            break;
                                                    case OrderState.Confirmed:
                                                    @:已确认
            break;
                                                    case OrderState.PreProducting:
                                                    @:备货中
            break;
                                                    case OrderState.Sended:
                                                    @:已发货
            break;
                                                    case OrderState.Completed:
                                                    @:已完成
            break;
                                                    case OrderState.Cancelled:
                                                    @:取消
            break;
                                                    case OrderState.Returned:
                                                    @:退货
            break;
                                                    case OrderState.Locked:
                                                    @:锁定
            break;
                                                    default:
                                                    @:未知状态
            break;
                                                }
                                            </td>
                                            @* <td>@row["buyerremark"]</td>*@
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

        <!-- /.content -->
        
        <div class="dataListEdit">
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
}