@model VMall.Web.Mobile.Models.MallSearchModel
@{
    Layout = "~/mobile/views/shared/_layout.cshtml";
    ViewBag.SubTitle = "商城搜索";
    ViewBag.Title = ViewBag.SubTitle + "-" + WorkContext.MallConfig.SiteTitle + "";
    ViewBag.Mark = 2;
}
<style>
    .forrecommend {
        background: #Fff;
        margin: 10px 0;
        padding: 20px;
        text-align: center;
    }

    .f12 {
        font-size: 12px;
    }

    .fgray {
        color: #666 !important;
    }
    .f20 {
    font-size: 20px;
}
     body {background:#f2f2f2 none repeat scroll 0 0
    }
    #mallSearchProductListBlock {
    background:#f2f2f2;}
</style>
<div class="searchBox topsearch" id="my-sticky">
    <div class="newSearch">
        <input type="text" id="keyword" name="keyword" class="new-srch-input" value="@WorkContext.SearchWord" style="color:#999999;">
        <a href="javascript:;" onclick="clearKeyWord();" target="_self" class="new-s-close"></a>
        <a href="javascript:mallSearch(document.getElementById('keyword').value);" target="_self" class="new-s-srch"><span></span></a>
        <ul id="word-list2"></ul>
    </div>
</div>

<script type="text/javascript">
    function closeSelectR() {
        document.getElementById("filterBlock1").style.display = "none";
        document.getElementById("filterBlock2").style.display = "none";
        document.getElementById("filterBlock3").style.display = "none";
    }
    function filterBlockSH(type) {
        if (type == 0) {
            document.getElementById("filterBlock1").style.display = "none";
            document.getElementById("filterBlock2").style.display = "none";
            document.getElementById("filterBlock3").style.display = "none";
        }
        else {
            document.getElementById("filterBlock1").style.display = "block";
            document.getElementById("filterBlock2").style.display = "block";
            document.getElementById("filterBlock3").style.display = "block";
        }
    }

    function filterItemSH(obj) {
        var divList1 = obj.parentNode.parentNode.getElementsByTagName("div");
        for (var i = 0; i < divList1.length; i++) {
            divList1[i].style.display = "none";
        }

        var divList2 = obj.parentNode.getElementsByTagName("div");
        for (var i = 0; i < divList2.length; i++) {
            divList2[i].style.display = "block";
        }
    }
    $(function () {
        $('#my-sticky').sticky({
            top: 0
        })
    });
</script>


<div class="forrecommend">
    <p class="f20">— 为您推荐 —</p>
   
</div>

<div class="proList">
    @{
        string pids = string.Join(",", Model.HotSaleProductList.Select(x => x.Pid));
        List<SinglePromotionInfo> lsit = Promotions.GetVailiSingleListByPidsAndendTime(pids, DateTime.Now);
    }
    <div id="mallSearchProductListBlock">
        @foreach (PartProductInfo info in Model.HotSaleProductList)
        {
            bool ZJDiscount = false;
            bool TJDiscount = false;
            bool ZKJDiscount = false;
            SinglePromotionInfo singleInfo = lsit.Find(x => x.Pid == info.Pid);
            if (singleInfo != null)
            {
                if (singleInfo.DiscountType == 1 && singleInfo.StartTime1 < DateTime.Now)
                {
                    ZJDiscount = true;
                }
                if (singleInfo.DiscountType == 5 && singleInfo.StartTime1 < DateTime.Now)
                {
                    TJDiscount = true;
                }
                if (singleInfo.DiscountType == 0 && singleInfo.StartTime1 < DateTime.Now)
                {
                    ZKJDiscount = true;
                }
            }
            <div class="proItme">
                <a href="@Url.Action("product", new RouteValueDictionary { { "pid", info.Pid } })">
                    <img src="/upload/store/@info.StoreId/product/show/thumb350_350/@info.ShowImg" width="100" height="100" class="img" />
                    @if (ZKJDiscount)
                    {
                        <i class="zkj_icon"></i> 
                    }
                    <span class="proDt">
                        <strong class="proDD DD1">@info.Name
                        </strong>
                        @if (ZJDiscount)
                        {
                            <b class="proDD DD3"><em class="f16">¥</em>@(info.ShopPrice - singleInfo.DiscountValue) <i class="salewarn">降</i></b>

                        }
                        else if (TJDiscount)
                        {
                            <b class="proDD DD3"><em class="f16">¥</em>@(singleInfo.DiscountValue) <i class="salewarn">降</i></b>

                        }
                        else if (ZKJDiscount)
                        {
                            <b class="proDD DD3"><em class="f16">¥</em>@(((double)(info.ShopPrice * singleInfo.DiscountValue) / 10.00).ToString("f2")) <i class="salewarn">降</i></b>
                        }
                        else
                        {
                            <b class="proDD DD3"><em class="f16">¥</em>@info.ShopPrice</b>}
                        @*<p class="proDD DD4">@info.ReviewCount 人评价，@Html.Raw(info.GetStarLevel().ToString())%好评</p>*@
                    </span>
                </a>
                @*<div class="ico"><a href="#">赠</a><a href="#" style="background:red;">减</a></div>*@
            </div>
        }
    </div>
    @*<div class="loading">
        @if (Model.PageModel.HasNextPage)
        {
            <a id="loadBut" href="javascript:getMallSearchProductList('@Model.Word',@Model.CateId,@Model.BrandId,@Model.FilterPrice,'@Model.FilterAttr',0,@Model.SortColumn,@Model.SortDirection,mspListNextPageNumber);" class="loadMore"><span>加载更多</span></a>
            <a id="lastPagePrompt" style="display: none;" href="javascript:void(0);" class="loadMore">没有了</a>
        }
        else
        {
            <a id="loadBut" style="display: none;" href="javascript:void(0);" class="loadMore"><span>加载更多</span></a>
            <a id="lastPagePrompt" href="javascript:void(0);" class="loadMore">没有了</a>
        }
        <div id="loadPrompt" style="display: none;" class="loadAnimate">
            <p class="list-loading"><span></span>加载中...</p>
        </div>
    </div>*@

</div>

<script type="text/javascript">
    //高度需要计算 .bg的高度 = 当前body的高度
    //document.getElementById("filterBlock1").style.height = document.body.scrollHeight + "px";
    //document.getElementById("filterBlock3").style.height = document.body.scrollHeight + "px";
</script>

